.about-us-subtitle{
	display:block;
	text-transform: uppercase;
	text-align:left;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	margin:10px 0px 0px 0px;
}

.about-us-heading-1{
	font-size:26px;
	font-weight:600;
	color:#000000;
}

.about-us-heading-2{
	font-size:18px;
	font-weight:600;
	color:#8e7d60;
	line-height:22px;
}

@media all and (min-width: 980px){
.about-us-img-over{
	display:block;
	float:left;
	margin-left:6%;
}
}

@media all and (min-width: 0px) and (max-width: 980px) {
.about-us-img-over{margin-left:0%;}
}

.about-us-img-under{
	display:block;
	float:left;
	margin-left:6%;
	margin-top:-15px;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
}

/*****************************************ZONES-REGIONS***********************************************/
/******************************#8e7d60*****************************/

#zone-about-us-first-wrapper{
	background:url(http://192.185.105.117/~genelab/sites/default/files/content-bg.png);
	background-repeat:repeat-x;
	background-size:100% 21.5em;
	background-position:right top;
	background-color:#F8F7F5;
	text-align:right;
}

#zone-about-us-first{
	background-color:none;
	width:75%;
}

#region-about-us-first{
	background-color:none;
	width:100%;
	text-align:left;
}

#zone-about-us-second-wrapper{
	background-color:#e5e1db;
	padding-bottom:25px;
	text-align:right;
}

#zone-about-us-second{
	background-color:none;
	width:75%;
}

#region-about-us-second{
	width:100%;
	background-color:none;
	text-align:left;
	padding-top:35px;
}

#zone-about-us-third-wrapper{
	background-color:#F8F7F5;
	padding-bottom:25px;
	text-align:right;
}

#zone-about-us-third{
	background-color:none;
	width:75%;
}

#region-about-us-third{
	width:100%;
	background-color:none;
	text-align:left;
	padding-top:35px;
}

#zone-about-us-fourth-wrapper{
	background-color:#e5e1db;
	padding-bottom:25px;
	text-align:right;
}

#zone-about-us-fourth{
	background-color:none;
	width:75%;
}

#region-about-us-fourth{
	width:100%;
	background-color:none;
	text-align:left;
	padding-top:35px;
}

#zone-about-us-fifth-wrapper{
	background-color:#e5e1db;
	padding-bottom:25px;
	text-align:right;
}

#zone-about-us-fifth{
	background-color:none;
	background-color:none;
	width:75%;
}

#region-about-us-fifth{
	width:100%;
	background-color:none;
	text-align:left;
	padding-top:35px;
}

#zone-about-us-sixth-wrapper{
	background-color:#e5e1db;
	padding-bottom:25px;
	text-align:right;
}

#zone-about-us-sixth{
	background-color:none;
	width:75%;
}

#region-about-us-sixth{
	width:100%;
	background-color:none;
	text-align:left;
	padding-top:35px;
}



/********************************************About Us**********************************************/

/**************************Slider Zone*************************************/


#block-panels-mini-about-us-panel-1{
	position:absolute;
	left:18%;
	z-index:10;
	width:50%
}

#block-panels-mini-about-us-panel-2{
	position:absolute;
	left:18%;
	z-index:10;
	width:50%
}

#block-panels-mini-about-us-panel-3{
	position:absolute;
	left:18%;
	z-index:10;
}

.about-us-4{
	width:66.5%;
	position:absolute;
	left:18%;
	z-index:10;
}

@media all and (min-width: 1824px){
#block-panels-mini-about-us-panel-1{display:block; top:3em;}
#block-panels-mini-about-us-panel-2{display:block; top:22em;}
#block-panels-mini-about-us-panel-3{display:block; top:45em; width:50%;}
.about-us-4{display:block; top:70em;}
}

@media all and (min-width: 1440px) and (max-width: 1824px) {
#block-panels-mini-about-us-panel-1{display:block; top:2em;}
#block-panels-mini-about-us-panel-2{display:block; top:16em;}
#block-panels-mini-about-us-panel-3{display:block; top:36em; width:55%;}
.about-us-4{display:block; top:51em;}
}

@media all and (min-width: 1366px) and (max-width: 1440px) {
#block-panels-mini-about-us-panel-1{display:block; top:2em;}
#block-panels-mini-about-us-panel-2{display:block; top:14em;}
#block-panels-mini-about-us-panel-3{display:block; top:32em; width:57%;}
.about-us-4{display:block; top:48em;}
}

@media all and (min-width: 1220px) and (max-width: 1366px) {
#block-panels-mini-about-us-panel-1{display:block; top:2em;}
#block-panels-mini-about-us-panel-2{display:block; top:12em;}
#block-panels-mini-about-us-panel-3{display:block; top:26em; width:60%;}
.about-us-4{display:block; top:42em;}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
#block-panels-mini-about-us-panel-1{display:block; top:1em;}
#block-panels-mini-about-us-panel-2{display:block; top:8em;}
#block-panels-mini-about-us-panel-3{display:block; top:20em; width:65%;}
.about-us-4{display:block; top:32em;}
}

/******************************************************************MOBILE*********************************************************************/

@media all and (min-width: 0px) and (max-width: 980px) {
#mini-panel-about_us_content_top_header_1{display:none;}
#mini-panel-about_us_content_top_header_2{display:none;}
#mini-panel-about_us_content_top_1{display:none;}
#mini-panel-about_us_content_top_2{display:none;}
#mini-panel-about_us_content_top_3{display:none;}
#mini-panel-about_us_content_top_4{display:none;}
#mini-panel-about_us_content_top_5{display:none;}
#mini-panel-about_us_content_middle_1{display:none;}
#mini-panel-about_us_content_middle_2{display:none;}
#mini-panel-about_us_content_middle_3{display:none;}
#mini-panel-about_us_content_middle_4{display:none;}
#mini-panel-about_us_content_middle_5{display:none;}
#mini-panel-about_us_content_middle_6{display:none;}
#mini-panel-about_us_content_middle_7{display:none;}
#mini-panel-about_us_content_middle_8{display:none;}
#mini-panel-about_us_content_middle_9{display:none;}
#mini-panel-about_us_content_middle_10{display:none;}
#mini-panel-about_us_content_middle_11{display:none;}
#mini-panel-about_us_content_middle_12{display:none;}
#mini-panel-about_us_content_middle_13{display:none;}
#mini-panel-about_us_content_bottom_1{display:none;}
#mini-panel-about_us_content_bottom_2{display:none;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#block-panels-mini-about-us-panels-mobile{
	display:block;
	position:absolute;
	top:25px;
	left:17%;
}

.about-us-4-mob{
	display:block;
	width:82%;
	position:absolute;
	top:21em;
	left:17%;
	z-index:10;
}

#block-panels-mini-about-us-panel-1{display:none;}
#block-panels-mini-about-us-panel-2{display:none;}
#block-panels-mini-about-us-panel-3{display:none;}
.about-us-4{display:none;}

/***************Content********************/

#mini-panel-about_us_content_mobile{display:block;}

#mini-panel-about_us_content_mobile_mid_1{display:block;}

#mini-panel-about_us_content_mobile_mid_2{display:block;}

#mini-panel-about_us_content_mobile_mid_3{display:block;}

#mini-panel-about_us_content_top_header_1{display:none;}

/***********************Individual Columns******************************/

.about-us-content-3-2-mob {
    width: auto;
    height: auto;
    border-top: 2px solid #8e7d60;
		border-bottom: 1px solid #8e7d60;
    text-align: right;
    height: auto;
}

.about-us-content-5-col-mob{
	display:block;
	width:100%;
	text-align:left;
	height:auto;
	border-bottom: 1px solid #8e7d60;
	float:left;
}
}

@media all and (min-width: 0px) and (max-width: 740px) {
#block-panels-mini-about-us-panels-mobile{
	display:block;
	position:absolute;
	top:65px;
	left:12%;
}
.about-us-4{display:none;}
.about-us-4-mob{display:none;}
#block-panels-mini-about-us-panel-3{display:none;}
}

@media all and (min-width: 980px){
#block-panels-mini-about-us-panels-mobile{display:none;}
#mini-panel-about_us_content_mobile{display:none;}
#mini-panel-about_us_content_mobile_mid_1{display:none;}
#mini-panel-about_us_content_mobile_mid_2{display:none;}
#mini-panel-about_us_content_mobile_mid_3{display:none;}
#mini-panel-about_us_content_mobile_bottom_1{display:none;}
#mini-panel-about_us_content_mobile_bottom_2{display:none;}
.about-us-4-mob{display:none;}
}

/*****************************************************************VIDEO*******************************************************************/

.about-video{
	z-index:-99;
	height:auto;
	width:100%;
}

@media all and (min-width: 740px){
.about-video{display:block;}
.about-header-bg{display:none;}
}

@media all and (min-width: 0px) and (max-width: 740px) {
.about-video{display:none;}
.about-header-bg{
	display:block;
	z-index:-99;
	height:auto;
	width:100%;
}
}

h1.about-us-slider{
	color:#FFF;
	font-weight:600;
	text-align:right;
}

@media all and (min-width: 568px){
h1.about-us-slider{font-size:36px;}
}

@media all and (min-width: 0px) and (max-width: 568px) {
h1.about-us-slider{font-size:28px;}
}

.about-us-1-col-1{
	border-top: 2px solid #8e7d60;
	width:22em;
	height:150px;
}

.about-us-1-col-2{
	width:328px;
}

.about-us-1-col-3{
	width:22em;
	height:15px;
	border-top: 1px solid #8e7d60;
}

.about-us-2-col-1{
	border-top: 2px solid #8e7d60;
	width:22em;
	height:300px;
	padding-top:15px;
	color:#FFF;
	font-size:14px;
	font-weight:600;
}

.about-us-2-col-2{
	width:22em;
	height:auto;
}

.about-us-2-col-3{
	width:22em;
	height:15px;
	border-top: 1px solid #8e7d60;
}

.about-us-3-col-1{
	border-top: 2px solid #8e7d60;
	background:url(http://192.185.105.117/~genelab/sites/default/files/arrow-down-gold-2x.png);
	background-repeat:no-repeat;
	background-position:0px 10px;
	background-size:32px 32px;
	width:80%;
	height:300px;
	padding-right:0px;
}

.about-us-3-col-2{
	border-top: 2px solid #8e7d60;
	width:22em;
	height:300px;
}

.about-us-3-col-3{
	border-top: 2px solid #8e7d60;
	height:300px;
	float:right;
	width:80%;
}

.about-us-4-col-1{
	display:inline-block;
	width:12%;
	height:32px;
	float:left;
	margin-left:0px;
	text-align:left;
	border-top: 1px solid #8e7d60;
	font-size:13px;
	color:#8e7d60;
}

.about-us-4-col-2{
	display:inline-block;
	width:12%;
	height:32px;
	float:left;
	margin-left:30px;
	text-align:left;
	border-top: 1px solid #8e7d60;
}

.about-us-4-col-3{
	display:inline-block;
	width:12%;
	height:100px;
	float:left;
	margin-left:30px;
	text-align:left;
	border-top: 1px solid #8e7d60;
}

.about-us-4-col-4{
	display:inline-block;
	width:12%;
	height:32px;
	float:left;
	margin-left:30px;
	text-align:left;
	border-top: 1px solid #8e7d60;
}

.about-us-4-col-5{
	display:inline-block;
	width:12%;
	height:32px;
	float:left;
	margin-left:30px;
	text-align:left;
	border-top: 1px solid #8e7d60;
}

.about-us-4-section{
	font-size:13px;
	color:#8e7d60;
}

a.about-link{
	 color: #FFF;
    /*font-family: Theinhardt-Medium;*/
    font-size: 13px;
    line-height: 1.25em;
    display: block;
    margin-top: 6px;
    padding-left: 15px;
    cursor: pointer;
    background-image: url(http://192.185.105.117/~genelab/sites/default/files/arrow-down-white-2x.png);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 0 2px;
    transition: background-position .1s ease-in-out,color .15s linear;
    -webkit-transition: background-position .1s ease-in-out,color .15s linear;
    -moz-transition: background-position .1s ease-in-out,color .15s linear;
    -ms-transition: background-position .1s ease-in-out,color .15s linear;
    -o-transition: background-position .1s ease-in-out,color .15s linear;
}

a.about-link:hover{text-decoration:underline;}


/***********************************************************MOBILE************************************************/
@media all and (min-width: 740px) and (max-width: 980px) {
.about-us-1-col-1-mob{
	border-top: 2px solid #8e7d60;
	width:86%;
	height:150px;
}

.about-us-2-col-1-mob {
	border-top: 2px solid #8e7d60;
  width: 86%;
  height: 150px;
  padding-top: 15px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}

.about-us-3-col-3-mob{
	border-top: 2px solid #8e7d60;
	height:300px;
	float:left;
	width:86%;
}
}

@media all and (min-width: 568px) and (max-width: 740px) {
.about-us-1-col-1-mob{
	border-top: 2px solid #8e7d60;
	width:86%;
	height:125px;
}

.about-us-2-col-1-mob {
	border-top: 2px solid #8e7d60;
  width: 86%;
  height: 150px;
  padding-top: 15px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}

.about-us-3-col-3-mob{
	border-top: 2px solid #8e7d60;
	height:300px;
	float:left;
	width:86%;
}
}

@media all and (min-width: 0px) and (max-width: 568px) {
.about-us-1-col-1-mob{
	border-top: 2px solid #8e7d60;
	width:86%;
	height:125px;
}

.about-us-2-col-1-mob {
	border-top: 2px solid #8e7d60;
  width: 86%;
  height: 95px;
  padding-top: 15px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}

.about-us-3-col-3-mob{
	border-top: 2px solid #8e7d60;
	height:300px;
	float:left;
	width:86%;
}
}

/*****************************************************Content Zone**************************************************************************/

/********************Header*****************************/

.about-us-content-header-1{
	width:100%;
	height:auto;
}

.about-us-content-header-1-1{
	border-top: 1px solid #8e7d60;
	width:auto;
	height:100px;
	text-align:right;
}

.about-us-content-header-1-2{
	border-top: 1px solid #8e7d60;
	width:auto;
	height:100px;
}

/*#mini-panel-about_us_content_top_header_2{
	height:180px;
}*/

.about-us-content-header-2-1{
	border-bottom: 1px solid #8e7d60;
	width:auto;
	height:182px;
}

.about-us-content-header-2-2{
	border-bottom: 2px solid #8e7d60;
	width:auto;
	height:auto;
	padding-bottom:2.5em;
}

/*********************Content Top******************************/

.about-us-content-2-col{
	width:90%;
	float:right;
}

.about-us-content-3-col{
	width:90%;
	float:right;
}

.about-us-content-4-col{
	width:89%;
	float:right;
}

#mini-panel-about_us_content_top_1{
	margin-top:35px;
}

.about-us-content-1-1{
	border-top: 1px solid #8e7d60;
	width:auto;
	height:auto;
	width:80%;
	padding-top:50px;
	padding-bottom:50px;
}

.about-us-content-1-2{
	border-top:none;
	border-bottom: 1px solid #8e7d60;
	width:auto;
	height:auto;
	padding-top:20px;
	padding-bottom:15px;
}

.about-us-content-1-3{
	border-top:none;
	width:auto;
	height:auto;
	padding-top:20px;
	padding-bottom:15px;
}

.about-us-content-2-1{
	width:auto;
	height:auto;
}

.about-us-content-2-2{
	width:auto;
	height:auto;
	padding:20px 0px 10px 50px;
}

.about-us-content-3-1{
	width:auto;
	height:auto;
}

.about-us-content-3-2{
	width:auto;
	height:auto;
	border-top: 2px solid #8e7d60;
	text-align:right;
	height:270px;
}

.about-us-content-3-3{
	width:auto;
	height:auto;
	padding-top:7px;
	/*height:272px;*/
}

.about-us-content-4-1{
	width:auto;
	height:auto;
}

.about-us-content-4-2{
	width:101%;
	height:auto;
	border-top: 2px solid #8e7d60;
}

.about-us-content-4-row-1{
	width:100%;
	float:left;
	height:50px;
}

.about-us-content-4-row-2{
	width:100%;
	float:left;
	height:auto;
}

.about-us-content-4-row-3{
	float:left;
	height:100px;
	border-top: 2px solid #8e7d60;
	padding-top:5px;
}

@media all and (min-width: 980px){
.about-us-content-4-row-3{width:50%;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
.about-us-content-4-row-3{width:100%;}
}

.about-us-5-container{
	display:block;
	width:100%;
	height:600px;
	border:1px solid #FF0000;
}

.about-us-content-5-space{
	display:inline-block;
	width:7px;
	height:200px;
	float:right;
}

.about-us-content-5-col-1{
	display:inline-block;
	width:15%;
	text-align:left;
	height:auto;
	float:right;
}

.about-us-content-col-2{
	display:inline-block;
	width:15%;
	border-top: 1px solid #8e7d60;
	text-align:left;
	height:auto;
	float:right;
}

/****************************Image Zone 2***************************************/

#zone-fullwidth-image-2-wrapper{
	background-color:none;
	text-align:right;
}

#zone-fullwidth-image-2{
	background-color:none;
	height:auto;
	width:100%;
	/*text-align:right;*/
	
}

#region-fullwidth-image-2{
	background-color:none;
	height:auto;
	width:100%;
	margin:0px;
}

/*#zone-fullwidth-image-2-wrapper{
	background-color:#efede9;
	text-align:right;
}

#zone-fullwidth-image-2{
	background-color:none;
	float:right;
}

@media all and (min-width: 980px){
#zone-fullwidth-image-2{width:87%;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#zone-fullwidth-image-2{width:100%;}
}

#region-fullwidth-image-2{
	background-color:none;
	width:100%;
	float:right;
}*/

/****************************Image Zone 3***************************************/

#zone-fullwidth-image-3-wrapper{
	background-color:none;
	text-align:right;
}

#zone-fullwidth-image-3{
	background-color:none;
	height:auto;
	width:100%;
	/*text-align:right;*/
	
}

#region-fullwidth-image-3{
	background-color:none;
	height:auto;
	width:100%;
	margin:0px;
}

/****************************Image Zone 4***************************************/

#zone-fullwidth-image-4-wrapper{
	background-color:none;
	text-align:right;
}

#zone-fullwidth-image-4{
	background-color:none;
	height:auto;
	width:100%;
	/*text-align:right;*/
	
}

#region-fullwidth-image-4{
	background-color:none;
	height:auto;
	width:100%;
	margin:0px;
}

/********************Title Bar 3**************************/

#zone-titlebar-third-wrapper{
	background-color:#F8F7F5;
	text-align:right;
}

#zone-titlebar-third{
	background-color:none;
	width:72%;
}

#region-titlebar-third{
	background-color:none;
	padding:20px 0px 20px 25px;
}

/*********************Content Middle******************************/

.about-us-content-mid-2-1{
	border-bottom: 1px solid #8e7d60;
	width:auto;
	height:172px;
}

.about-us-content-mid-2-2{
	border-bottom: 2px solid #8e7d60;
  width: auto;
  height: 156px;
  padding-bottom: 15px;
}

.about-us-content-mid-4-1{
	width:100;
}

.about-us-content-mid-4-2{
	width:90%;
	float:right;
}

.about-us-content-mid-5-2{
	border-bottom: 1px solid #8e7d60;
	width:100%;
	height:12.6em;
}

.about-us-content-mid-5-3{
	border-bottom: 1px solid #8e7d60;
	width:auto;
	height:auto;
}

.about-us-content-mid-6-2{
	border-top: 1px solid #8e7d60;
	width:auto;
	height:auto;
}

.about-us-content-mid-7-1{
	border-bottom: 1px solid #8e7d60;
	width:auto;
	height:auto;
}

@media all and (min-width: 1824px){
.about-us-content-mid-7-1{
	min-height:231px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
.about-us-content-mid-7-1{
	min-height:309px;
}
}

.about-us-content-mid-7-2{
	border-bottom: 3px solid #8e7d60;
	width:auto;
	height:auto;
	min-height:220px;
	padding-bottom:10px;
}

.about-us-content-mid-8-2{
	border-top: 1px solid #8e7d60;
	border-bottom: 2px solid #8e7d60;
	width:auto;
	height:auto;
	padding-top:20px;
}

.about-us-content-mid-8-3{
	border-top: 3px solid #8e7d60;
	border-bottom: 1px solid #8e7d60;
	width:auto;
	height:auto;
	padding-top:20px;
}

.about-us-content-mid-9-2{
	width:auto;
	height:auto;
	padding:15px 0px 10px 0px;
}

.about-us-content-mid-10-2{
	border:none;
	height:auto;
}

.about-us-content-mid-10-3{
	border-bottom:none;
	width:auto;
	height:auto;
	padding-top:10px;
}

.about-us-content-mid-11-2{
	border-top: 2px solid #8e7d60;
	width:auto;
	height:auto;
}

.about-us-content-mid-11-3{
	border-top: 1px solid #8e7d60;
	width:auto;
	height:auto;
}

.content-mid-11-txt-block-1{
	display:block;
	color:#8e7d60;
	border-bottom: 1px solid #8e7d60;
	padding-bottom:15px;
}

.content-mid-11-txt-block-2{
	display:block;
	color:#8e7d60;
	border-bottom: 1px solid #8e7d60;
	padding-bottom:10px;
	margin-top:43px;
}

.content-mid-11-list{
	padding-top:7px;
}

.about-us-content-mid-12-2{
	border-top: 2px solid #8e7d60;
	width:auto;
	height:auto;
}

/*********************Content Middle******************************/

.about-us-content-bottom-1-1{}

.about-us-content-bottom-2-1{
	border-bottom: 1px solid #8e7d60;
	width:auto;
	height:14em;
}

.about-us-content-bottom-2-2{
	border-bottom: 3px solid #8e7d60;
	width:auto;
	height:auto;
}

/**************************Accordian********************************/

.accordian-block{
	margin-top:20px;
}

@media all and (min-width: 980px){
.accordian-block{width:70%; float:right;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
.accordian-block{width:100%; float:left;}
}

.experiments-number{
	display:inline-block;
	font-weight:bold;
}

.experiments-title{
	display:inline-block;
	padding-left:10px;
}

.experiments-description{
	display:block;
	padding-left:32.5px;
}

.experiments-body{
	font-size:13px;
	width:50%;
	float:right;
	border-bottom:1px solid #8e7d60;
	padding:8px 0px 10px 0px;
}

.experiments-link{
	width:25%;
	float:right;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background:none;
	border:none;
	border-radius:none;
	border-bottom:1px solid #8e7d60;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{border-radius:none;}





