
/***********************************************************Community********************************************************/

/***Community Title Block***/

.community-title-block{
	display:block;
	width:329px;
	border-top: 1px solid #968870;
	margin-top: 20px;
}

.community-title-block h1 {
	margin-top: 8px;
	margin-left: -1px;
	color: #FFF;
	font-size: 24px;
}

.community-title-block span {
	font-size: 13px;
	color: #968870;
	margin: -20px 0 0 0;
	padding: 0;
	display: block;
}

/***Community Page Teasers***/

@media all and (min-width: 1824px) {
#block-views-community-2-block{
	width: 75%;
	position: relative;
	left: 240px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#block-views-community-2-block{
	width: 75%;
	position: relative;
	left: 187px;
}
}

@media all and (min-width: 1824px) {
#block-views-community-block{
	width:65%;
	float:left;
	margin-left:240px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#block-views-community-block{
	width:75%;
	float:left;
	margin-left:188px;
}
}

.community-subtitle {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #8e7d60;
	margin-top:10px;
}

@media all and (min-width: 1824px) {
.community-teaser-title h3{
	display:block;
	/*width:45%;*/
	/*color:#333;*/
	font-size:24px;
	margin:0px auto;
	line-height:34px;
	margin-top:80px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
.community-teaser-title h3{
	display:block;
	/*width:45%;*/
	/*color:#333;*/
	font-size:21px;
	margin:0px auto;
	line-height:34px;
	margin-top:80px;
}
}

.community-teaser-sm-link{
	display: block;
	border-top:1px solid #bdb4a5;
	border-bottom:2px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:65%;
	padding:12px 40px 5px 0px;
	/*margin-top:120px 65px 0px 0px;*/
	text-align:right;
	position:relative;
	float:right;
	top:30px;
}

.community-teaser-sm-link a {
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	/*margin-left: 0px;
	padding-top: 10px;*/
}

.community-teaser-sm-link a:hover {
	text-decoration:underline;
}

/***********************************************************Forum Links********************************************************/

/***Community Forum Title Block***/

.forum-title-block{
	display:block;
	width:329px;
	border-top: 1px solid #968870;
	margin-top: 20px;
}

.forum-title-block h1 {
	margin-top: 8px;
	margin-left: -1px;
	color: #FFF;
	font-size: 24px;
}

.forum-title-block span {
	font-size: 13px;
	color: #968870;
	margin: -20px 0 0 0;
	padding: 0;
	display: block;
}

/****Community Page Forum Teasers****/

@media all and (min-width: 1824px) {
#block-nodeblock-95{
	display: block;
	margin-left: -70px;
}

#block-views-68c2faaca545efe55dc5182ff5341cea{
	display: block;
	margin-left: -70px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#block-nodeblock-95{
	display: block;
	margin-left: 100px;
}

#block-views-68c2faaca545efe55dc5182ff5341cea{
	display: block;
	margin-left: 100px;
}
}

#forum-teaser-title-container{display:block; width:100%; height:75px; margin-top:25px;}

.forum-teaser-dates{
	display:inline-block;
	width:17%;
	height:24px;
	border-top:1px solid #bdb4a5;
	float:left;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:600;
	color:#8e7d60;
}

.forum-teaser-topics{
	display:inline-block;
	width:52%;
	height:24px;
	border-top:1px solid #bdb4a5;
	float:left;
	margin-left:46px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:600;
	color:#8e7d60;
}

.forum-teaser-comment-count{
	display:inline-block;
	width:22%;
	height:24px;
	border-top:1px solid #bdb4a5;
	float:right;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:600;
	color:#8e7d60;
}

.forum-post-date{
	color: rgba(150, 136, 112, .7);
	/*font-family: 'Theinhardt-Regular';*/
	font-size: 12px;
	line-height: 1.2em;
	display:inline;
	position:relative;
	left:0px;
	top:-85px;
	/*width: 100%;*/
}

h3 a{
	font-size:20px;
	color:#333;
	display:inline;
	position:relative;
	left:250px;
	top:0px;
}

h3 a:visited{
	font-size:20px;
	color:#333;
	display:inline;
	position:relative;
	left:250px;
	top:0px;
}

.community-page-teasers{
	width:100%;
	display:block;
	border-top:1px solid #bdb4a5;
	height:60px;
	padding-top:20px;
	padding-bottom:20px;
}

.comment-count{
	display:inline;
	position:relative;
	left:800px;
	top:-70px;
}

/***Go to Forums Link***/

#goto-forums-container{
	border-top:2px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:60%;
	float:right;
	padding-top:10px;
	padding-bottom:15px;
	margin-top:35px;
}

.goto-forums-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:0px;
	padding:0px 40px 0px 0px;
}

