img, .top-img{
	max-width:100%;
	height:auto;
}

#zone-content-wrapper{
	background:url(http://192.185.105.117/~genelab/sites/default/files/content-bg.png);
	background-repeat:repeat-x;
	background-size:100% 19em;
	background-position:right top;
	background-color:#F8F7F5;
	padding-bottom:25px;
	padding-top:2.3em;
	text-align:right;
	min-height:42em;
}

#zone-content{
	background-color:none;
}

@media all and (min-width: 740px) {
#zone-content{width:68%;}
}

@media all and (min-width: 0px) and (max-width: 740px) {
#zone-content{width:80%;}
}

#region-content{
	background-color:none;
	width:100%;
	text-align:left;
	/*width:100%;
	background-color:none;
	text-align:left;
	padding-top:35px;
	float:right;*/
}

.event-txt{
	font-size:inherit;
	font-weight:400;
	color:#000;
}

/********************************************************************ARTICLES*******************************************************************/
/***********************************************************************************************************************************************/

@media all and (min-width: 740px) {
#articles-page{width:80%;}
}
@media all and (min-width: 0px) and (max-width: 740px) {
#articles-page{width:100%;}
.bryant-container{width:100%;}
}

.articles-top-img{
	display:block;
	position:relative;
	/*width:138%;*/
	top:0;
	left:0;
}

.articles-txt{
	font-size:inherit;
	font-weight:400;
	color:#000;
}

.articles-section{ 
	display:block;
	padding:10px 0px 206px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	margin-right:15px;
	border-top: 1px solid #bdb4a5;
	border-bottom: 1px solid #bdb4a5;
}

.articles-subtitle{
	display:block;
	width:95%;
 	height:auto;
 	border-top: 1px solid #bdb4a5;
 	padding:10px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	position:relative;
}

.articles-research{
	display:block;
	width:95%;
 	height:auto;
 	border-top: 1px solid #bdb4a5;
 	padding:10px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	position:relative;
}

.article-written-by{
	font-size: 12px;
	font-weight:600;
	color:#8e7d60;
	text-align:center;
	padding-top:10px;
}

.articles-tags{
	font-size: 12px;
	font-weight:600;
	color:#8e7d60;
}

/************Normal / Wide Screen****************/

@media all and (min-width: 740px) {

.articles-sidebar{display:block;}

#artticles-title{
	display:block;
	width:100%;
	height:0em;
	margin-bottom:0px;
}

#articles-top-border{
	display:block;
	width:95%;
	height:2px;
	border-top: 1px solid #bdb4a5;
	margin-top:195px;
}

.articles-header-txt{
	display:block;
	width:110%;
	padding:10px 0px 10px 0px;
	font-size: 18px;
	color:#8e7d60;
	margin-top:43px;
}

.articles-highlight-quote{
	display:block;
	width:110%;
	padding:10px 0px 10px 0px;
	font-size: 18px;
	color:#8e7d60;
	/*position:relative;
	left:-30px;*/
	margin-top:10px;
}

.articles-user-picture-normal{
	display:block;
	border: 2px solid #c7b89e;
	width:80px;
	height:80px;
	margin:0px auto;
	margin-top:25px;
}

.articles-post-date-normal{
	display:block;
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	margin:0px 15px 0px 0px;
}

.articles-written-by-normal{
	display:block;
	font-size: 12px;
	font-weight:600;
	color:#8e7d60;
	text-align:center;
	padding-top:10px;
}

.articles-author-name-normal{
	display:block;
	text-align:center;
	border-bottom: none;
}

.articles-user-picture-mobile{
	display:none;
}

.articles-post-date-mobile{
	display:none;
}

.articles-written-by-mobile{
	display:none;
}

.articles-author-name-mobile{
	display:none;
}
}

/************Mobile Screens****************/

@media all and (min-width: 0px) and (max-width: 740px) {

.articles-sidebar{display:none;}

#artticles-title{
	display:block;
	width:100%;
	height:4em;
	margin-bottom:0px;
}

.articles-post-date-mobile{
	display:block;
	padding:0px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	margin-top:130px;
}

.articles-user-picture-mobile{
	display:block;
	border: 2px solid #c7b89e;
	width:80px;
	height:80px;
	/*margin:0px auto;
	margin-top:25px;*/
}

.articles-written-by-mobile{
	display:block;
	font-size: 12px;
	font-weight:600;
	color:#8e7d60;
	/*text-align:center;*/
	padding-top:10px;
}

.articles-author-name-mobile{
	display:block;
	/*text-align:center;*/
	border-bottom: none;
}

#articles-top-border{
	display:none;
	/*width:100%;
	height:2px;
	border-top: 1px solid #bdb4a5;
	margin-top:45px;*/
}

.articles-header-txt{
	display:block;
	width:100%;
	padding:10px 0px 10px 0px;
	font-size: 18px;
	color:#8e7d60;
	margin-top:35px;
}

.articles-highlight-quote{
	display:block;
	width:100%;
	padding:10px 0px 10px 0px;
	font-size: 18px;
	color:#8e7d60;
	/*position:relative;
	left:-30px;*/
	margin-top:15px;
}

.articles-user-picture-normal{
	display:none;
}

.articles-post-date-normal{
	display:none;
}

.articles-written-by-normal{
	display:none;
}

.articles-author-name-normal{
	display:none;
}
}

.field-name-post-date, field-type-ds{
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	margin:5px 15px 0px 0px;
}

.field-name-ds-user-picture, field-type-ds{
	border: 2px solid #c7b89e;
	width:80px;
	height:80px;
	margin:0px auto;
}

.field-name-author, field-type-ds{
	text-align:center;
	border-bottom: none;
}

.group-author-pic-name, field-group-html-element{
	margin-top:100px;
}

.link-item{
	display:inline-block;
	width:100%;
	margin-top:35px;
}

.link-title{
	display:inline-block;
	font-size: 13px;
	font-weight:600;
	color:#8e7d60;
}

.link-url{
	display:inline-block;
	margin-left:100px;
}

.link-url a{
	font-size: 13px;
	font-weight:600;
	color:#8e7d60;
	text-decoration:none;
}

.link-url a:hover{text-decoration:underline;}

.field-type-taxonomy-term-reference, field-label-above{
	padding-top:35px;
	padding-bottom:25px;
}

/*********************************************************************EVENT PAGE***************************************************************************/
/**********************************************************************************************************************************************************/

.node-events{padding-bottom:50px; margin-top:50px;}

#events-page{
	width:100%;
}

.events-title{height:8.7em;}

.events-presentation{
	display:block;
 	height:auto;
 	border-top: 1px solid #bdb4a5;
 	padding:10px 10px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
}

/****Wide / Normal Screens****/

/*@media all and (min-width: 1824px){
.events-title{height:10.3em;}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
.events-title{height:10.7em;}
}

@media all and (min-width: 740px) and (max-width: 1220px) {
.events-title{height:11em;}
}*/

@media all and (min-width: 740px){
.events-column-1{
	display:block;
}

.events-column-2{
	display:block;
	width:100%;
}

.events-column-3{
	display:block;
}

.events-title{
	display:block;
}

.events-body{
	display:block;
	padding:20px 0px 20px 0px;
	border-top: 1px solid #bdb4a5;
}

.event-txt{
	font-size:inherit;
	font-weight:400;
	color:#000;
}

.events-subtitle{ 
	display:block;
	height:13.5em;
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#333;
	margin-right:15px;
	border-top: 1px solid #bdb4a5;
}

.events-information{
	display:block;
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	border-top: 2px solid #bdb4a5;
	margin-right:15px;
}



.events-year-month{
	display:block;
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:600;
	color:#333;
	margin:0px 0px 0px 15px;
	border-top: 1px solid #bdb4a5;
}

.events-day{
	display:block;
	margin-left:18px;
	height:8.5em;
	width:150px;
	padding:0px 0px 0px 15px;
}

.events-time{
	display:block;
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:600;
	color:#333;
	margin-left:15px;
	border-top: 1px solid #bdb4a5;
}

.events-place{
	display:block;
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:600;
	color:#333;
	margin:20px 0px 0px 15px;
	border-bottom: 2px solid #bdb4a5;
}

.events-subtitle-mobile{display:none;}
.events-year-month-mobile{display:none;}
.events-day-mobile{display:none;}
.events-time-mobile{display:none;}
.events-place-mobile{display:none;}

}

/************Mobile Screens****************/

@media all and (min-width: 0px) and (max-width: 740px) {
.panel-col-first{display:none;}

.panel-col-last{display:none;}

.panel-3col .panel-col{width:110%;}

.events-column-1{
	display:none;
}

.events-column-2{
	display:block;
	width:100%;
}

.events-column-3{
	display:none;
}
.events-title-mobile{ 
	width:100%;
	display:block;
	padding-top:4%;
	border-top: 1px solid #bdb4a5;
}

.events-body-mobile{
	width:100%;
}

.events-information-mobile{
	width:100%;
}

.events-year-month-mobile{
	display:block;
	width:100%;
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:600;
	color:#333;
	margin:0px 0px 0px 0px;
	border-top: 1px solid #bdb4a5;
}

.events-day-mobile{
	width:100%;
	display:block;
	margin-left:0px;
	height:8em;
	padding:0px 0px 0px 10px;
	background-color:#e5e1db;
}

.events-time-mobile{
	width:100%;
	display:block;
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:600;
	color:#333;
	margin-left:0px;
	border-top: 1px solid #bdb4a5;
}

.events-place-mobile{
	width:100%;
	display:block;
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:600;
	color:#333;
	margin:0px 0px 0px 0px;
	border-bottom: 2px solid #bdb4a5;
}
}


/***Article Teaser***/

@media all and (min-width: 1824px) {
#block-views-article-teaser-event-page-block{
	position:relative;
	float:left;
	padding-top:0px;
	padding-bottom:0px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#block-views-article-teaser-event-page-block{
	position:relative;
	left:25px;
	top:4px;
	padding-top:0px;
	padding-bottom:0px;
}
}

.article-teaser-title{
	display:block;
	font-size:24px;
	margin-top:110px;
	margin-left:117px;
}

.view-article-teaser{height:360px; margin-top:-3px;}

/**********************************All Teasers*******************************************/

@media all and (min-width: 1824px) {
#block-views-7da7f809025528c759de898a13e3f791{
	position:relative;
	left:-112px;
	top:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:-14px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
#block-views-7da7f809025528c759de898a13e3f791{
	position:relative;
	left:25px;
	top:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:-14px;
}
}

.teaser-date{
	display:inline-block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	margin-left:117px;
}

.teaser-author a{
	font-size: 12px;
	font-weight:bold;
	color:#8e7d60;
	text-decoration:none;
}

.teaser-author a:hover{
	text-decoration:underline;
}

.teaser-readmore a{
	display:block;
	font-size: 14px;
	font-weight:600;
	color:#8e7d60;
	text-decoration:none;
	margin-left:117px;
	padding-top:10px;
}

.teaser-readmore a:hover{
	text-decoration:underline;
}

@media all and (min-width: 1824px) {
.teaser-image{width:110%;}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
.teaser-image{width:100%;}
}

.article-teaser-title{
	display:block;
	font-size:24px;
	margin-top:110px;
	margin-left:117px;
}

.view-article-teaser{height:360px; margin-top:-3px;}

/*Latest Discovery*/

.article-subtitle{
	display:block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	width:300px;
	height:24px;
	margin:10px 0px 0px 100px;
}

@media all and (min-width: 1824px) {
#see-all-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:86%;
	padding-top:5px;
	padding-bottom:5px;
	margin:35px 0px 0px 116px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#see-all-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:75%;
	padding-top:5px;
	padding-bottom:5px;
	margin:35px 0px 0px 116px;
}
}

.see-all-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:0px;
	padding:0px 40px 0px 0px;
}

.panel-panel.panel-col-first{
	height:auto;
}


/****************************************************************Forums******************************************************************/

#forum-topic-header{display:none;}

.forum-post-content{
	padding:20px 20px;
}

.title, comment-form{
	font-size:24px;
}

.forum-post-date{
	color: rgba(150, 136, 112, .7);
	/*font-family: 'Theinhardt-Regular';*/
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 10px;
	display: block;
	/*width: 100%;*/
}

#edit-author--2{color:#666;}

.username a{color:#666;}

/***Social Media Links***/

@media all and (min-width: 1824px) {
.social-block {
	display:block;
	width: 50%;
	background-color: #FFF;
	height: 50px;
	position: relative;
	z-index: 0;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	.social-block {
	display:block;
	width: 50%;
	background-color: #FFF;
	height: 50px;
	position: relative;
	left:95px;
	z-index: 0;
}
}

.social-block .col-1-plus {
	height: 60%;
	float: left;
}

.social-block span {
	color: #8e7d60;
	/*font-family: 'Theinhardt-Regular';*/
	font-size: 12px;
	display: inline-block;
	margin-top: 25px;
}

.social-block ul {
	margin-top: 6px;
}

.social-block li {
	display: inline;
}

.social-block .social-button {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	overflow: hidden;
	text-indent: -9999px;
	display: inline-block;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/social-sprite.png);
	background-size: 158px 32px;
	background-repeat: no-repeat;
	background-position: -1px -1px;
	margin-right: 10px;
	border: 1px solid #d8d3ca;
	background-color: #FFF;
	float: left;
	transition: border-color .2s linear, background-color .2s linear;
	-webkit-transition: border-color .2s linear, background-color .2s linear;
	-moz-transition: border-color .2s linear, background-color .2s linear;
	-ms-transition: border-color .2s linear, background-color .2s linear;
	-o-transition: border-color .2s linear, background-color .2s linear;
}

.social-block .social-button:hover {
	border-color: #d8d3ca;
	background-color:#FFF;
}

.social-block .twitter-button {
	background-position: 0px 0px;
}

.social-block .facebook-button {
	background-position: -42px 0px;
}

.social-block .youtube-button {
	background-position: -84px 0px;
}

.social-block .google-plus-button {
	background-position: -126px 0px;
}

/*.ds-3col > .group-left{width:100%; float:left;}

.group-left, events_row_1{width:100%; float:left;} !important

@media all and (min-width: 0px) and (max-width: 740px) {

}*/