#zone-content-wrapper{
	background-color:#F8F7F5;
	padding-bottom:35px;
	padding-top:0px;
}

#zone-content{
	background-color:none;
}

@media all and (min-width: 980px) {
#zone-content{width:65%;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#zone-content{width:75%;}
}

#region-content{
	width:100%;
	background-color:none;
	padding-top:35px;
	margin-left:4%;
}

/********************Title*******************************/

.contact-title-block{
	display:block;
	width:329px;
	border-top: 1px solid #968870;
	margin-top: 20px;
}

.contact-title-block h1 {
	margin-top: 8px;
	margin-left: -1px;
	color: #FFF;
	font-size: 24px;
}

.contact-title-block span {
	font-size: 13px;
	color: #968870;
	margin: -20px 0 0 0;
	padding: 0;
	display: block;
}

.contact-subtitle{
	text-transform: uppercase;
	font-size: 11px;
	font-weight:800;
	color:rgb(150, 136, 112);
}

.contact-txt{
	/*font-family: 'Theinhardt-Regular';*/
	font-size: 13px;
	color: #515151;
	padding-top:20px;
	padding-bottom:20px;
}

.contact-team-txt{
	display:block;
	/*font-family: 'Theinhardt-Regular';*/
	font-size: 13px;
	color: #515151;
	padding-top:7px;
	padding-bottom:5px;
	border-top: 3px solid #c7bfb3;
	margin-top:30px;
	width:100%;
}z

/*******************************************************************Contact Columns**********************************************************************/

@media all and (min-width: 1366px) {
#mini-panel-contact_columns_top{
	display:block;
	width:80%;
	margin-left:0px;
	padding-bottom:20px;
}

#mini-panel-contact_columns_middle{
	display:block;
	width:85%;
	padding-bottom:25px;
	margin-left:0px;
}

#mini-panel-contact_columns_bottom{
	display:block;
	width:100%;
	margin-left:0px;
}

#mini-panel-contact_columns_bottom_managemen{
	display:block;
	width:65%;
	position:relative;
	right:-200px;
}
}

@media all and (min-width: 1220px) and (max-width: 1366px) {
#mini-panel-contact_columns_top{
	display:block;
	width:95%;
	margin-left:0px;
}

#mini-panel-contact_columns_middle{
	display:block;
	width:100%;
	padding-bottom:25px;
	margin-left:0px;
}

#mini-panel-contact_columns_bottom{
	display:block;
	width:95%;
	margin-left:0px;
}

#mini-panel-contact_columns_bottom_managemen{
	display:block;
	width:65%;
	position:relative;
	right:-200px;
}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
#mini-panel-contact_columns_top{
	display:block;
	width:100%;
	margin-left:0px;
}

#mini-panel-contact_columns_middle{
	display:block;
	width:105%;
	padding-bottom:25px;
	margin-left:0px;
}

#mini-panel-contact_columns_bottom{
	display:block;
	width:95%;
	margin-left:0px;
}

#mini-panel-contact_columns_bottom_managemen{
	display:block;
	width:65%;
	position:relative;
	right:-200px;
}
}

/*******************************************************************Contact Mobile**********************************************************************/

@media all and (min-width: 980px) {
#mini-panel-contact_columns_mobile{display:none;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#mini-panel-contact_columns_mobile{display:block;}

#mini-panel-contact_columns_top{display:none;}

#mini-panel-contact_columns_middle{display:none;}

#mini-panel-contact_columns_bottom{display:none;}

#mini-panel-contact_columns_bottom_managemen{display:none;}

.contact-column-top-1-mob{
	width:100%;
	/*float:left;*/
	height:auto;
	border-top: 1px solid #c7bfb3;
	padding:10px 0px 30px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:800;
	color:#333;
}

.contact-column-top-2-mob{
	width:100%; 
	/*float:left;*/
	height:auto;
	border-top: 2px solid #c7bfb3;
	padding:15px 0px 25px 0px;
}

.contact-public-comms-mob{
	display:block;
	height: auto;
	border-bottom: 1px solid #c7bfb3;
	margin-top:25px;
	padding-bottom: 10px;
	font-size: 13px;
	color: #515151;
	line-height: 1.3em;
}

.contact-column-middle-2-mob{
	width:100%; 
	position:relative;
	left:0;
	height:auto;
	border-top: 1px solid #c7bfb3;
	padding:10px 0px 0px 0px;
}

.contact-phone-email-mob{
	font-size: 13px;
	padding-top:10px;
	padding-bottom:15px;
	line-height: 1.3em;
}
}

/*******************************************************************Contact Columns Top********************************************************************/

/***Column 1 Top***/

.contact-column-top-1{
	width:80%;
	/*position:relative;
	float:left;*/
	height:auto;
	border-top: 1px solid #c7bfb3;
	padding:10px 0px 25px 10px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:800;
	color:#333;
}

/***Column 2 Top***/

.contact-column-top-2{
	/*width:120%; 
	position:relative;
	left:-125px;*/
	height:auto;
	border-top: 2px solid #c7bfb3;
	padding:10px 0px 25px 10px;
}

.contact-column-top-3{
	/*width:112%; 
	position:relative;
	left:-35px;*/
	height:auto;
	border-top: 2px solid #c7bfb3;
	padding:10px 0px 0px 10px;
}

.contact-public-comms{
	display:block;
	height: auto;
	border-bottom: 1px solid #c7bfb3;
	margin-top:25px;
	padding-bottom: 10px;
	font-size: 13px;
	color: #515151;
	line-height: 1.3em;
}

.contact-phone-email{
	font-size: 13px;
	color: #515151;
	line-height: 1.3em;
}

.contact-phone-email, .contact-info{
	font-size: 13px;
	padding-top:10px;
	line-height: 1.3em;
}

a.contact-phone-email, a.contact-info{
	color: #968870;
	text-decoration: none;
}

a.contact-phone-email:hover, a.contact-info:hover{
	text-decoration:underline;
}

.contact-lead-info {
	display:block;
	font-size: 13px;
	color: #515151;
	padding-top:10px;
	width: 100%;
	line-height: 1.3em;
	margin-top:15px;
	border-top: 1px solid #c7bfb3;
}

.contact-lead-info .lead-contact{
	font-size: 13px;
	padding-top:3px;
	line-height: 1.3em;
}

.contact-lead-info .lead-contact a{
	color: #968870;
	text-decoration: none;
}

.contact-lead-info .lead-contact a:hover{
	text-decoration:underline;
}

/*******************************************************************Contact Columns Middle******************************************************************/

/***Column 1 Middle***/

.contact-column-middle-1{
	display:block;
	width:80%;
	/*position:relative;
	float:left;*/
	height:auto;
	border-top: 1px solid #c7bfb3;
	padding:10px 0px 0px 10px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:800;
	color:#333;
}

/***Column 2 Middle***/

.contact-column-middle-2{
	/*width:112%; 
	position:relative;
	left:-145px;*/
	height:auto;
	border-top: 1px solid #c7bfb3;
	padding:10px 0px 0px 10px;
}

.contact-learn-how-link{
	display: block;
	background:url(../images/ui/arrow-right-gold-2x.png);
	border-bottom:1px solid #bdb4a5;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 27px 27px;
	width:100%;
	padding:10px 0px 10px 0px;
	text-align:left;
	text-indent:50px;
}

.contact-learn-how-link a{
	display:block;
	height:20px;
	font-size: 11px;
	font-weight: 600;
	color: #8e7d60;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
}

.contact-learn-how-link a:hover{
	text-decoration:none;
}

#contact-column-middle-2-bottom{
	border-top:1px solid #bdb4a5;
	margin-top:35px;
	padding-top:11px;
}

.contact-become-a-partner-link{
	display: block;
	background:url(../images/ui/arrow-right-gold-2x.png);
	border-bottom:3px solid #bdb4a5;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 27px 27px;
	width:100%;
	padding:10px 0px 9px 0px;
	text-align:left;
	text-indent:15%;
}

.contact-become-a-partner-link a{
	display:block;
	height:20px;
	font-size: 11px;
	font-weight: 600;
	color: #8e7d60;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
}

.contact-become-a-partner-link a:hover{
	text-decoration:none;
}

/***Column 3 Middle***/

.contact-column-middle-3{
	/*width:112%; 
	position:relative;
	left:-80px;*/
	height:auto;
	border-top: 2px solid #c7bfb3;
	padding:10px 0px 0px 10px;
}

.contact-join-link{
	display: block;
	background:url(../images/ui/arrow-right-gold-2x.png);
	border-bottom:1px solid #bdb4a5;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 27px 27px;
	width:100%;
	padding:10px 0px 10px 0px;
	text-align:left;
	text-indent:50px;
	margin-top:17px;
}

.contact-join-link a{
	display:block;
	height:20px;
	font-size: 11px;
	font-weight: 600;
	color: #8e7d60;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
}

.contact-join-link a:hover{
	text-decoration:none;
}

#contact-column-middle-3-bottom{
	border-top:1px solid #bdb4a5;
	margin-top:35px;
	padding-top:11px;
}

.contact-access-data-link{
	display: block;
	background:url(../images/ui/arrow-right-gold-2x.png);
	border-bottom:1px solid #bdb4a5;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 27px 27px;
	width:100%;
	padding:10px 0px 9px 0px;
	text-align:left;
	text-indent:15%;
	margin-top:40px;
}

.contact-access-data-link a{
	display:block;
	height:20px;
	font-size: 11px;
	font-weight: 600;
	color: #8e7d60;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
}

.contact-access-data-link a:hover{
	text-decoration:none;
}

/****************************************************************Contact Columns Bottom********************************************************************/

/***Column 1 Bottom***/

@media all and (min-width: 1220px) {
.contact-column-bottom-1{
	display:block;
	width:50%;
	position:relative;
	float:left;
	border-top: 1px solid #c7bfb3;
	padding:10px 0px 25px 10px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:800;
	color:#333;
}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
.contact-column-bottom-1{
	display:none;
	width:0%;
}
}

/***Column 2 Bottom***/

@media all and (min-width: 1824px) {
.contact-column-bottom-2{
	width:50%;
	position:relative;
	left:-101px;
	border-top: 2px solid #c7bfb3;
	padding:10px 0px 25px 10px;
}
}

@media all and (min-width: 1366px) and (max-width: 1824px) {
.contact-column-bottom-2{
	width:50%;
	position:relative;
	left:-45px;
	border-top: 2px solid #c7bfb3;
	padding:10px 0px 25px 10px;
}
}

@media all and (min-width: 1220px) and (max-width: 1366px) {
.contact-column-bottom-2{
	width:50%;
	position:relative;
	left:0px;
	border-top: 2px solid #c7bfb3;
	padding:10px 0px 25px 10px;
}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
.contact-column-bottom-2{
	width:100%;
	position:relative;
	left:-115px;
	border-top: 2px solid #c7bfb3;
	padding:10px 0px 25px 10px;
	margin-top:10px;
}
}

.genelab-people{
	text-align:center;
	border-bottom: 1px solid #c7bfb3;
	padding-bottom:15px;
}

.genelab-people-info{
	font-size: 14px;
	font-weight:bold;
	color: #515151;
	padding-top:6px;
}

.genelab-people-title{
	font-size: 13px;
	color: #8e7d60;
}