/*****Discoveries Page********/

@media all and (min-width: 1824px) {
#block-views-discoveries-2-block{
	width:75%;
	position:relative;
	left:240px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
#block-views-discoveries-2-block{
	width:75%;
	position:relative;
	left:187px;
}
}

@media all and (min-width: 1824px) {
.articles-discoveries-teaser-subtitle1{
	display:block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	margin-top:13px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
.articles-discoveries-teaser-subtitle1{
	display:block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	margin-top:13px;
	margin-left:15px;
}
}

@media all and (min-width: 1824px) {
.articles-discoveries-teaser-title h3{
	display:block;
	font-size:24px;
	margin-top:50px;
	margin-left:0px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	.articles-discoveries-teaser-title h3{
	display:block;
	font-size:24px;
	margin-top:50px;
	margin-left:15px;
}
}

.articles-discoveries-teaser-postdate{
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	border:0;
	/*padding:10px 0px 10px 0px;
	margin:154px 15px 0px 0px;*/
}

.articles-discoveries-teaser-author{
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	/*padding:10px 0px 10px 0px;
	margin:154px 15px 0px 0px;*/
}

@media all and (min-width: 1824px) {
.field-name-author, field-type-ds{
	font-size: 12px;
	font-weight:600;
	color:#8e7d60;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	.field-name-author, field-type-ds{
	font-size: 12px;
	font-weight:600;
	color:#8e7d60;
	margin-left:15px;
}
}

.field-name-post-date, field-type-ds{
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	margin:5px 15px 0px 0px;
}

.articles-discoveries-teaser-readmore{
	display: block;
	border-top:1px solid #bdb4a5;
	border-bottom:2px solid;
	border-bottom-color:#bdb4a5;
	border-bottom-length:50px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:300px;
	padding:12px 40px 5px 0px;
	text-align:right;
	float:right;
	margin-right:60px;
	margin-top:45px;
	/*position:absolute;*/
	/*right:65px;
	left:300px;
	top:245px;*/
}

.articles-discoveries-teaser-readmore a {
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	/*margin-left: 0px;
	padding-top: 10px;*/
}

.articles-discoveries-teaser-readmore a:hover {
	text-decoration:underline;
}