.events-title{
	height:120px;
}



/*************************************************************All Events / Events Page Teasers*************************************************************/
/**********************************************************************************************************************************************************/

@media all and (min-width: 1824px) {
#block-views-events-page-teaser-2-block{
	width:75%;
	position:relative;
	left:240px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
#block-views-events-page-teaser-2-block{
	width:75%;
	position:relative;
	left:187px;
}
}

@media all and (min-width: 1824px) {
#block-views-events-page-teaser-block{
	width:70%;
	float:left;
	margin-left:240px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#block-views-events-page-teaser-block{
	width:70%;
	float:left;
	margin-left:188px;
}
}

.events-page-teaser-day{
	width:50%;
	height:90px;
	margin:0px auto;
	border-bottom:1px solid #bdb4a5;
}

.events-page-teaser-year-month{
	display:block;
	width:45%;
	color:#8e7d60;
	font-size:14px;
	margin:0px auto;
}

.events-page-teaser-title h3{
	display:block;
	width:100%;
	color:#333;
	font-size:24px;
	/*margin:0px auto;*/
	line-height:34px;
}

@media all and (min-width: 1824px) {
.events-page-teaser-title{
	display:block;
	width:45%;
	color:#333;
	font-size:24px;
	margin:0px auto;
	line-height:34px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
.events-page-teaser-title{
	display:block;
	width:60%;
	color:#333;
	font-size:21px;
	margin:0px auto;
	line-height:34px;
}
}

.events-page-teaser-learnmore{
	display: block;
	border-top:1px solid #bdb4a5;
	border-bottom:2px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:65%;
	padding:12px 40px 5px 0px;
	/*margin-top:120px 65px 0px 0px;*/
	text-align:right;
	position:relative;
	left:25px;
	top:32px;
}

.events-page-teaser-learnmore a {
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	/*margin-left: 0px;
	padding-top: 10px;*/
}

.events-page-teaser-learnmore a:hover {
	text-decoration:underline;
}

/******************************Upcoming / Past Button*************************************************/

#events-btn-container{
	display:block;
	width:100%;
	height:auto;
	margin:30px 0px 0px 0px;
}

.events-btn-col-1{
	display:inline-block;
	width:25%;
	height:50px;
	float:left;
	border-top:1px solid #8e7d60;
}

.events-btn-col-2{
	display:inline-block;
	width:70%;
	height:50px;
	float:right;
	border-top:1px solid #8e7d60;
}

a.event-filter-options{
	display:inline-block;
	width:48%;
	height:auto;
	background-color:#8e7d60;
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	border:none;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
}

a.event-filter-options:focus{
	background-color:#CECECE;
}

/*a.event-filter-options:target{
	background-color:#CECECE;
}*/

/*.event-filter-options {
	width: 350px;
	height: 25px;
	border: 1px solid #636056;
	border-radius: 18px;
	margin-top: 10px;
	padding:5px 3px;
	display: inline-block;
	position: relative;
}

.event-filter-options .bg-highlight {
	position: absolute;
	left: 3px;
	width: 50%;
	background-color: #8e7d60;
	height: 27px;
	border-radius: 14px;
	z-index: 0;
	transition: left .2s ease-in-out;
	-webkit-transition: left .2s ease-in-out;
	-moz-transition: left .2s ease-in-out;
	-ms-transition: left .2s ease-in-out;
	-o-transition: left .2s ease-in-out;
}

.event-filter-options a {
	height: 27px;
	color: #968870;
	display: inline-block;
	padding-top: 7px;
	font-family: 'Theinhardt-Medium';
	font-size: 11px;
	width: 50%;
	text-decoration: none;
	text-align: center;
	float: left;
	position: relative;
	z-index: 1;
	transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
}

.event-filter-options a:hover {
	color: #FFF;
}

.event-filter-options a.selected {
	color: #FFF;
}

.event-filter-options a:last-child {
	
}*/

