body{
	background:none;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	height:100%;
}

#page {
	background:none;
	
}

.view-wrapper{border:1px solid #FF0000;}

/*********************************************************************Global**************************************************************************/

h3, h5, h6, p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1{
	font-size:48px;
	color: #8e7d60;
	letter-spacing:0.05em;
	line-height: 1.2em;
}

h2{}

h3{
	font-size:32px;
	color: #8e7d60;
	margin: 0;
  padding: 0;
}

h4{
	font-size:68px;
	color:#FFF;
	letter-spacing:0.05em;
}

h5{
	color: #16232f;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.2em;
	text-transform: none;
	padding-bottom:10px;
}

p{
	font-size:14px;
	padding-bottom:1em;
}

p.subtitle1{
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
}

div.subtitle1{
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
}

h2.node-title {
	display:none;
}

#page-title{
	font-weight:normal;
	font-size:24px;
}

img{
	max-width:100%;
	height:auto;
}

.logo-img{display:block;}

table tr {
  background: none;
	margin-bottom:0px;
}

.username{padding-right:15px;}

/*.contact-page-mobile{display:none;}*/

.subtitle{
	display:block;
	text-transform: uppercase;
	text-align:left;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	width:300px;
	height:24px;
	position:relative;
	margin:10px 0px 0px 15px;
}

@media all and (min-width: 740px) and (max-width: 980px) {
.subtitle{margin: 10px 0px 0px 0px;}
}

.section-title{
	text-align:left;
}

@media all and (min-width: 980px){
.section-title{padding-left:4%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
.section-title{padding-left:0%;}
}

#edit-submitted-your-email{
	margin-top:15px;
}

#outerImageContainer{background-color:#e5e1db !important; height:340px;}

#imageDataContainer{background-color:#e5e1db !important;}

#bottomNavClose{background-color:#e5e1db !important;}

#modalContainer{height:350px;}

#frameHoverNav{width:10%;}
/*************************************************************ZONES/REGIONS*****************************************************************/
/*******************************************************************************************************************************************/

/***********************************************************************SLIDER************************************************************************/

#zone-slider-wrapper{
	background-color:none;
	text-align:right;
}

#zone-slider{
	background-color:none;
	height:auto;
	width:100%;
	/*text-align:right;*/
	
}

#region-slider{
	background-color:none;
	height:auto;
	width:100%;
	margin:0px;
}

/*@media all and (min-width: 1824px){
#region-slider{width:99.5%; margin:0px;}
}

@media all and (min-width: 1366px) and (max-width: 1824px) {
#region-slider{width:99.2%; margin:0px;}
}

@media all and (min-width: 1220px) and (max-width: 1366px) {
#region-slider{width:99%; margin:0px;}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
#region-slider{width:99%; margin:0px;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#region-slider{width:100%; margin:0px;}
}*/

.node-banner-image{text-align:right; width:100%; height:20%;} !important

/***************************************************INNERPAGE TITLE*************************************************************/

#zone-innerpage-title-wrapper{
	background-color:#00FF00;
}

/*#zone-innerpage-title{
	background-color:none;
	width:72%;
}

#region-innerpage-title{
	background-color:none;
	padding:20px 0px 20px 25px;
}*/

/*********************************************************************INNERPAGE SECOND*********************************************************************/

#zone-innerpage-second-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-innerpage-second{
	background-color:none;
	width:75%;
}

#region-innerpage-second{
	background-color:none;
	text-align:left;
}

@media all and (min-width: 1824px){
#region-innerpage-second{width:80%;}
}

@media all and (min-width: 980px) and (max-width: 1824px) {
#region-innerpage-second{width:100%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#region-innerpage-second{width:100%;}
}

@media all and (min-width: 980px){
#block-views-discoveries-mobile-block{display:none;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#block-views-discoveries-block{display:none;}

#block-views-discoveries-mobile-block{
	display:block;
	padding-top:20px;
	padding-left:9%;
}	
}

@media all and (min-width: 0px) and (max-width: 740px) {
#block-views-discoveries-block{display:none;}

#block-views-discoveries-mobile-block{
	display:block;
	padding-top:20px;
	padding-left:9%;
}	
}

/*********************************************************************INNERPAGE THIRD*********************************************************************/

#zone-innerpage-third-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-innerpage-third{
	background-color:none;
	width:75%;
}


#region-innerpage-third{
	background-color:none;
	text-align:left;
}

@media all and (min-width: 1824px){
#region-innerpage-third{width:80%;}
}

@media all and (min-width: 980px) and (max-width: 1824px) {
#region-innerpage-third{width:100%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#region-innerpage-third{width:100%;}
}

/*********************************************************************INNERPAGE FOURTH*********************************************************************/

#zone-innerpage-fourth-wrapper{
	background-color:#f8f7f5;
	text-align:right;
}

#zone-innerpage-fourth{
	background-color:none;
	width:68%;
	padding-top:100px;
	padding-bottom:140px;
}

#region-innerpage-fourth{
	background-color:none;
	color:#8e7d60;
	text-align:left;
}

@media all and (min-width: 1824px){
#region-innerpage-fourth{width:80%;}
}

@media all and (min-width: 980px) and (max-width: 1824px) {
#region-innerpage-fourth{width:100%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#region-innerpage-fourth{width:100%;}
}

/********************Title Bar 1**************************/

#zone-titlebar-first-wrapper{
	background-color:#FFF;
}

#zone-titlebar-first{
	background-color:none;
	width:75%;
}

#region-titlebar-first{
	background-color:none;
	width:100%;
	text-align:left;
	padding-top:20px;
	padding-bottom:20px;
}

@media all and (min-width: 980px){
#zone-titlebar-first{width:75%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#zone-titlebar-first{width:91%;}
}

/********************Title Bar 2**************************/

#zone-titlebar-second-wrapper{
	background-color:#FFF;
}

#zone-titlebar-second{
	background-color:none;
}

#region-titlebar-second{
	background-color:none;
	width:100%;
	text-align:left;
	padding-top:20px;
	padding-bottom:20px;
}

@media all and (min-width: 980px){
#zone-titlebar-second{width:75%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#zone-titlebar-second{width:91%;}
}

/**************************Title Bar 3*********************************/

#zone-titlebar-third-wrapper{
	background-color:#FFF;
}

#zone-titlebar-third{
	background-color:none;
}

#region-titlebar-third{
	background-color:none;
	width:100%;
	text-align:left;
	padding-top:20px;
	padding-bottom:20px;
}

@media all and (min-width: 980px){
#zone-titlebar-third{width:75%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#zone-titlebar-third{width:91%;}
}

/********************Title Bar 4**************************/

#zone-titlebar-fourth-wrapper{
	background-color:#FFF;
}

#zone-titlebar-fourth{
	background-color:none;
	width:75%;
}

#region-titlebar-fourth{
	background-color:none;
	width:100%;
	text-align:left;
	padding-top:20px;
	padding-bottom:20px;
}

@media all and (min-width: 980px){
#zone-titlebar-fourth{width:75%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#zone-titlebar-fourth{width:91%;}
}



/********************************************Discoveries/Events Innerpage Teaser**********************************************/

#zone-article-discoveries-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-article-discoveries{
	background-color:none;
	width:75%;
}

#region-article-discoveries{
	background-color:none;
	text-align:left;
}

@media all and (min-width: 1824px){
#region-article-discoveries{width:80%;}
}

@media all and (min-width: 980px) and (max-width: 1824px) {
#region-article-discoveries{width:100%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#region-article-discoveries{width:100%;}
}

/************************************************************FULLWIDTH IMAGE*************************************************************************/

#zone-fullwidth-image-1-wrapper{
	background-color:none;
	text-align:right;
}

#zone-fullwidth-image-1{
	background-color:none;
	height:auto;
	width:100%;
	/*text-align:right;*/
	
}

#region-fullwidth-image-1{
	background-color:none;
	height:auto;
	width:100%;
	margin:0px;
}

/*#zone-fullwidth-image-1-wrapper{
	background-color:#efede9;
	text-align:right;
}

#zone-fullwidth-image-1{
	background-color:none;
	float:right;
}

@media all and (min-width: 980px){
#zone-fullwidth-image-1{width:87%;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#zone-fullwidth-image-1{width:100%;}
}

#region-fullwidth-image-1{
	background-color:none;
	width:100%;
	float:right;
}*/

/*********************************************************************Footer*************************************************************************/

#zone-footer-wrapper{
	background-color:#FFF;
}

#zone-footer{
	background-color:none;
}

#region-footer-first{
	background-color:none;
	padding-top:35px;
	padding-bottom:35px;
	text-align:left;
}

/*********************************************************************User*************************************************************************/

#zone-user-wrapper{
	height: 60px;
	background-color: #111b24;
}

#zone-user{
	background-color: none;
	width:75%;
}


#region-user-first{
	width:100%;
	background-color: none;
	margin-left:6.3%;
}


/*@media all and (min-width: 1480px) {}

@media all and (min-width: 1220px) and (max-width: 1480px) {
#region-user-first{
	display:block;
	width:50%;
	background-color: none;
	margin-left:300px;
}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
#region-user-first{
	display:block;	
	width:50%;
	background-color: none;
	margin-left:250px;
}
}*/

#region-user-second{
	background-color: none;
}

/**********************************Right Arrow Button*******************************************/

.cta-container {
	display:block;
  height: auto;
  overflow: hidden;
}

.cta-arrow {
    font-size: 13px;
    color: #8e7d60;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 0;
    float: right;
    padding: 0 0 12px 10px;
}

.cta-arrow span {
    display: block;
		color: #8e7d60;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    line-height: 1em;
    transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
    -ms-transition: color .15s linear;
    -o-transition: color .15s linear;
}

.cta-arrow .arrow {
    display: block;
    width: 27px;
    height: 27px;
    /*border-radius: 14px;
    border: 1px solid rgba(150,136,112,.5);*/
    background-image: url(http://192.185.105.117/~genelab/sites/default/files/arrow-right-gold-2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 27px 27px;
    float: left;
    margin-top: 7px;
}

/**********************************Events Teaser*******************************************/

@media all and (min-width: 980px){
.events-teaser-normal{display:block;}

.events-teaser-mobile{display:none;}

#block-views-events-upcoming-block{display:block;}

#block-views-events-upcoming-mobile-block{display:none;}

#block-views-events-past-block{display:block;}

#block-views-events-past-mobile-block{display:none;}

}

@media all and (min-width: 740px) and (max-width: 980px) {
.events-teaser-normal{display:none;}

.events-teaser-mobile{
	display:block;
	height:auto;
	min-height:665px;
	padding-top:20px;
	padding-left:1%;
}
}

.events-block{
	border-bottom:1px solid #8e7d60;
}
/*.event-subtitle{
	display:block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	width:300px;
	height:24px;
	position:relative;
	margin:10px 0px 0px 0px;
}*/

.teaser-year-month{
	display:block;
	width:50%;
	border-top: 1px solid #bdb4a5;
	color:#8e7d60;
	font-size:14px;
	margin-left:14%;
}

.events-teaser-title{
	display:block;
	width:100%;
	height:auto;
}

.events-teaser-day{
	display:block;
	width:auto;
}

@media all and (min-width: 1366px){
.events-teaser-title{
	font-size:28px;
	line-height:32px;
	margin-left:14%;
}

.events-teaser-day{
	margin:0% 0% -2% 14%;
	font-size:68px;
}
}

@media all and (min-width: 1024px) and (max-width: 1366px) {
.events-teaser-title{
	font-size:24px;
	line-height:28px;
	margin-left:14%;
}

.events-teaser-day{
	margin:-5% 0% -4% 14%;
	font-size:56px;
}
}

.events-readmore{
	display:block;
	width:auto;
	margin-left:14%;
}

.events-readmore a{
	display:block;
	font-size: 14px;
	font-weight:600;
	color:#8e7d60;
	text-decoration:none;
	padding-top:5px;
}

.events-readmore a:hover{
	text-decoration:underline;
}

/**********************************************************MOBILE*********************************************************************/

@media all and (min-width: 0px) and (max-width: 980px) {

#block-views-events-upcoming-block{display:none;}

#block-views-events-upcoming-mobile-block{display:block;}

#block-views-events-past-block{display:none;}

#block-views-events-past-mobile-block{display:block;}

.events-teaser-day{
	margin:-3% 0% -2% 0%;
	font-size:68px;
}

.teaser-year-month{margin-left:0%;}

.events-readmore{margin-left:0%;}
}

/*****************************************************SEE ALL LINK*********************************************************/

.see-all-link{
	display: block;
	position:absolute;
	bottom:1px;
	right:0;
	border-top:1px solid #bdb4a5;
	border-bottom:2px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 5%;
	text-align:right;
}

@media all and (min-width: 1366px){
.see-all-link{
	width:auto;
	min-width:40%;
	height:30px;
	padding:13px 50px 8px 0px;
}
}

@media all and (min-width: 980px) and (max-width: 1366px) {
.see-all-link{
	width:auto;
	min-width:40%;
	height:25px;
	padding:10px 50px 6px 0px;
}
}

@media all and (min-width: 740px) and (max-width: 980px) {
.see-all-link{
	width:auto;
	min-width:87%;
	height:30px;
	padding:13px 50px 8px 0px;
}
}

.see-all-link a{
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}

.teaser-date{
	display:inline-block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	margin-left:117px;
}

.teaser-author a{
	font-size: 12px;
	font-weight:bold;
	color:#8e7d60;
	text-decoration:none;
}

.teaser-author a:hover{
	text-decoration:underline;
}

.teaser-readmore a{
	display:block;
	font-size: 14px;
	font-weight:600;
	color:#8e7d60;
	text-decoration:none;
	margin-left:117px;
	padding-top:10px;
}

.teaser-readmore a:hover{
	text-decoration:underline;
}

/*@media all and (min-width: 1824px) {
.teaser-image{width:110%;}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
.teaser-image{width:100%;}
}*/

/***************************************************************Sidebars***************************************************************************/


#region-sidebar-first {
	background:#FFF;
	position:fixed;
	left:0px;
	top:0px;
	margin-left:0px;
	height:100%;
	z-index:99;
	padding-left:41px;
	padding-top:20px;
	width:11%;
}

@media all and (min-width: 980px){
#region-sidebar-first {display:block;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#region-sidebar-first {display:none;}
}

#region-sidebar-second {
	background:#FFF000;
}

.sidebar-menu{
	margin-top:45px;
}

ul li.leaf { list-style:none; }

ul li.leaf a{ text-decoration:none; }

ul li.leaf a:hover{ color:#8e7d60; }

/*li.last.leaf{ margin-top:25px; }*/

/******************************************************************Title Bar First********************************************************************/

.subtitle-frontpage {
	padding-top: 40px;
	padding-bottom: 25px;
	position: relative;
	margin-left:275px;
	margin-top:-15px;
}

/***Social Media Links***/

.social-block-container{
	display:none;
	height:auto;
	float:left;
}

.social-block-follow {
	display:none;
	color: #8e7d60;
	width:50%;
	height:auto;
	font-size: 12px;
	float:left;
	padding:0px 0px 8px 10px;
}

.social-block{
	width:100%;
	height:auto;
	float:left;
}

.social-icon{
	width:32px;
	height:32px;
	float:left;
	padding-left:10px;
}

/****Twiiter****/
a.rollover-twitter {
	display: block;
	width: 32px;
	height: 32px;
	text-decoration: none;
	background: url("../images/ui/social-icon-twitter.png");
}

a.rollover-twitter:hover {
	background-position: -32px 0;
}

.displace {
	position: absolute;
	left: -5000px;
}

/****Facebook****/
a.rollover-facebook {
	display: block;
	width: 32px;
	height: 32px;
	text-decoration: none;
	background: url("../images/ui/social-icon-facebook.png");
}

a.rollover-facebook:hover {
	background-position: -32px 0;
}

.displace {
	position: absolute;
	left: -5000px;
}

/****YouTube****/
a.rollover-youtube {
	display: block;
	width: 32px;
	height: 32px;
	text-decoration: none;
	background: url("../images/ui/social-icon-youtube.png");
}

a.rollover-youtube:hover {
	background-position: -32px 0;
}

.displace {
	position: absolute;
	left: -5000px;
}

/****Google****/
a.rollover-google {
	display: block;
	width: 32px;
	height: 32px;
	text-decoration: none;
	background: url("../images/ui/social-icon-google.png");
}

a.rollover-google:hover {
	background-position: -32px 0;
}

.displace {
	position: absolute;
	left: -5000px;
}

/*******************************************************************Postscript**************************************************************************/

#zone-postscript-wrapper{
	background-color:#16232f;
}

#zone-postscript{
	background-color:none;
	padding-top:45px;
	padding-bottom:45px;
	min-width:0%;
}

@media all and (min-width: 740px) and (max-width: 980px) {
#zone-postscript{min-width:100%;}
}

#region-postscript-first{
	display:block;
	height:200px;
	width:12%;
	background-image:url(http://192.185.105.117/~genelab/sites/default/files/ui/nasa-genelab-logo-footer.png);
	background-repeat:no-repeat;
	background-size:124px 208px;
	border-bottom: 2px solid #968870;
	padding-bottom:28px;
}

@media all and (min-width: 1824px){
#region-postscript-first{margin-left:0%;}
}

@media all and (min-width: 1366px) and (max-width: 1824px) {
#region-postscript-first{margin-left:13%;}
}

@media all and (min-width: 980px) and (max-width: 1366px) {
#region-postscript-first{margin-left:17%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#region-postscript-first{margin-left:12%;}
}

#region-postscript-second{
	display:block;
	width:30%;	
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
}

@media all and (min-width: 1824px){
#region-postscript-second{margin-left:10%;}
}

@media all and (min-width: 1366px) and (max-width: 1824px) {
#region-postscript-second{margin-left:6%;}
}

@media all and (min-width: 980px) and (max-width: 1366px) {
#region-postscript-second{margin-left:2%;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#region-postscript-second{margin-left:2%;}
}

#region-postscript-third{
	display:block;
	width:15%;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
}

#region-postscript-fourth{
	display:block;
	width:15%;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
}

/*@media all and (min-width: 1220px) and (max-width: 1480px) {
#region-postscript-first{
	display:block;
	height:200px;
	width:125px;
	background-image:url(http://192.185.105.117/~genelab/sites/default/files/ui/nasa-genelab-logo-footer.png);
	background-repeat:no-repeat;
	background-size:124px 208px;
	border-bottom: 2px solid #968870;
	padding-bottom:28px;
	margin-left:300px;
}

#region-postscript-second{
	display:block;
	width:196px;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
	margin-left:10%;
}

#region-postscript-third{
	display:block;
	width:180px;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
}

#region-postscript-fourth{
	display:block;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
#region-postscript-first{
	display:block;
	height:200px;
	width:125px;
	background-image:url(http://192.185.105.117/~genelab/sites/default/files/ui/nasa-genelab-logo-footer.png);
	background-repeat:no-repeat;
	background-size:124px 208px;
	border-bottom: 2px solid #968870;
	padding-bottom:28px;
	margin-left:250px;
}

#region-postscript-second{
	display:block;
	width:196px;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
	margin-left:2%;
}

#region-postscript-third{
	display:block;
	width:180px;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
}

#region-postscript-fourth{
	display:block;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
}
}*/

.footer-block {
	height: 208px;
	position: relative;
}

/****Footer Signup****/

.footer-block .signup-container {
	border-top: 3px solid #968870;
	border-bottom: 1px solid #968870;
}

.footer-block .text-container {
	width: 100%;
	height: 133px;
	border-top: 1px solid #968870;
	position: absolute;
	bottom: 0;
	padding-top: 9px;
	float:none;
}

.footer-block .email-input {
	width: 100%;
	height: auto;
	position: absolute;
	top:165px;
}

.footer-txt-signup{
	display:inline-block;
	width:40%;
	float:left;
	color:#FFF;
	font-weight:800;
	margin:10px 0px 0px 0px;
}

/*****Sign Up Modal Iwindow****/

/*.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 15px;
}*/

.ui-widget-content {
	border: none;
	background: #f8f7f5;
	color: #000;
}

/****Footer Contributors****/

.footer-block .contributors-container {
	border-top: 1px solid #968870;
	height:auto;
}

.footer-block .title {
	color: #e9e9e9;
	font-size: 14px;
	/*font-family: 'Chronicle DeckCond A', 'Chronicle DeckCond B';*/
	font-weight: 800;
	margin-top: 10px;
	display: inline-block;
}

.footer-block .contributors-container .text-container {
	border-top: 2px solid #968870;
}

.footer-block .contributors-container span{
	/*font-family: 'Chronicle DeckCond A', 'Chronicle DeckCond B';*/
	font-weight: 800;
	display: block;
	color: #a5b4b9;
	font-size: 12px;
}

.footer-block .contributors-container a {
	color: #8e7d60;
	/*font-family: 'Theinhardt-Medium';*/
	font-size: 12px;
	margin-top: 1px;
	margin-bottom: 20px;
	display: inline-block;
	text-decoration: none;
	transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  -ms-transition: color .15s linear;
  -o-transition: color .15s linear;
}

.footer-block .contributors-container a:hover {
	color: #a79577;
}


/***Footer Explore***/

.footer-block .explore-container {
	border-top: 2px solid #968870;
	border-bottom: none;
	height:auto;
}

.footer-block .explore-container a {
	font-size: 12px;
	line-height:-10px;
	color: #a5b4b9;
	/*font-family: 'Theinhardt-Medium';*/
	text-decoration: none;
	display: inline-block;
	padding: 0;
	transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  -ms-transition: color .15s linear;
  -o-transition: color .15s linear;
}

.footer-block .explore-container a:hover {
	color: #8e7d60;
}

.explore{
	margin-bottom:0px;
	list-style:none;
}

/***********************************************************************User***************************************************************************/

/****Bottom Links***/

#bottom-links-container{
	width:50%;
	float:left;
	padding-top:23px;
}

.legal-container { float:left;}

a.legal-button{
font-size: 12px;
color: #8e7d60;
text-decoration: none;
/*background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-legal-2x.png);
background-repeat: no-repeat;
background-size: 18px 18px;
background-position-x: -20px;
background-position-y:25px;*/
padding-top: 28px;
padding-left: 16px;
height: 60px;
transition: color .15s linear;
-webkit-transition: color .15s linear;
-moz-transition: color .15s linear;
-ms-transition: color .15s linear;
-o-transition: color .15s linear;
}

a.legal-button:hover{
color: #72818c;
}

.legal-button{height:0px;}

/***********************************************************************ARTICLE************************************************************************/
/********************************************************************************************************************************************************/

#block-nodeblock-23{
	position:relative;
	left:80px;
}

.field.field-name-field-article-header-image.field-type-image.field-label-hidden{
	width:100%;
}

/***********************************************************************INNER PAGES************************************************************************/
/********************************************************************************************************************************************************/

#block-panels-mini-article-panels{
	width:100%;
	height:auto;
	left:-100px;
}

.panel-display panel-3col, clearfix{
	width:95%;
}

/***********************************************************************HEADER************************************************************************/

/*#section-header {
	background-color:#F8F7F5;
  position: fixed;
  top: -35px;
  left: 0px;
  width: 100%;
	padding-top:35px;
  z-index: 99;
}*/

#zone-innerpage-header-wrapper{
	background-color:none;
}

@media all and (min-width: 980px){
#zone-innerpage-header{
	background-color:none;
	width:65%;
}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#zone-innerpage-header{
	background-color:none;
	width:90%;
}
}

#region-innerpage-header-first{
	background-color:none;
}

#region-innerpage-header-second{
	background-color:none;
}

/****Discoveries Title Block****/


.discoveries-title-block{
	display:block;
	width:329px;
	border-top: 1px solid #968870;
	margin-top: 20px;
}

.discoveries-title-block h1 {
	margin-top: 8px;
	margin-left: -1px;
	color: #FFF;
	font-size: 24px;
}

.discoveries-title-block span {
	font-size: 13px;
	color: #968870;
	margin: -20px 0 0 0;
	padding: 0;
	display: block;
}

/***Events Title Block***/

.events-title-block{
	display:block;
	width:329px;
	border-top: 1px solid #968870;
	margin-top: 20px;
}


.events-title-block h1 {
	margin-top: 8px;
	margin-left: -1px;
	color: #FFF;
	font-size: 24px;
}

.events-title-block span {
	font-size: 13px;
	color: #968870;
	margin: -20px 0 0 0;
	padding: 0;
	display: block;
}

/*********************************************************************INNERPAGE FIRST*********************************************************************/

#zone-innerpage-first-wrapper{
	background:-webkit-linear-gradient(top, #e5e1db, #e5e1db 202px, #efede9 202px, #efede9);
	background:linear-gradient(top, #e5e1db, #e5e1db 202px, #efede9 202px, #efede9);
	background:-moz-linear-gradient(top, #e5e1db, #e5e1db 202px, #efede9 202px, #efede9);
	height:auto;
	padding-bottom:50px;
	padding-top:10px;
}

#zone-innerpage-first{
	background-color:none;
	width:75%;
	margin-left:15%;
	height:auto;
}

#region-innerpage-first{
	background-color:none;
	width:90%;
	height:auto;
	padding-top:25px;
}

/*Latest Discovery*/

.article-subtitle{
	display:block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	width:300px;
	height:24px;
	margin:10px 0px 0px 100px;
}

@media all and (min-width: 1824px) {
#see-all-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:86%;
	padding-top:5px;
	padding-bottom:5px;
	margin:35px 0px 0px 116px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#see-all-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:75%;
	padding-top:5px;
	padding-bottom:5px;
	margin:35px 0px 0px 116px;
}
}

/*.see-all-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:0px;
	padding:0px 40px 0px 0px;
}*/

/****Discoveries****/

#block-nodeblock-73{
	position:absolute;
	width:100%;
	height:auto;
	top:0px;
	right:0px;
	z-index:-99;
}

#block-nodeblock-72{
	position:absolute;
	width:100%;
	height:auto;
	top:296px;
	float:right;
	z-index:-99;
}

#block-nodeblock-74{
	position:absolute;
	width:100%;
	height:auto;
	top:592px;
	float:right;
	z-index:-99;
}

#block-nodeblock-75{
	position:absolute;
	width:100%;
	height:auto;
	top:888px;
	float:right;
	z-index:-99;
}

@media all and (min-width: 980px){
.discoveries-block{
	border-bottom:1px solid #8e7d60;
	padding-bottom:0;
}
}

@media all and (min-width: 740px) and (max-width: 980px) {
.discoveries-block{
	border-bottom:none;
	padding-bottom:20px;
}
}

.discoveries-subtitle {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #8e7d60;
	margin-top:10px;
}

.discoveries-title{
	display:block;
	font-size:24px;
	margin-top:50px;
	margin-left:0px;
}

.discoveries-teaser-readmore{
	display: block;
	border-top:1px solid #bdb4a5;
	border-bottom:2px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:76%;
	padding:12px 40px 5px 0px;
	text-align:right;
	position:relative;
	left:93px;
	top:76px;
}

.discoveries-teaser-readmore a {
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	/*margin-left: 0px;
	padding-top: 10px;*/
}

.discoveries-teaser-readmore a:hover {
	text-decoration:underline;
}

.discoveries-teaser-date {
	display: inline-block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	color: #8e7d60;
	margin-left: 0px;
}

.discoveries-teaser-author a {
	font-size: 12px;
	font-weight: bold;
	color: #8e7d60;
	text-decoration: none;
}

.discoveries-teaser-author a:hover {
	text-decoration:underline;
}

/****************************************************************INNERPAGE TITLE SECOND******************************************************************/

#zone-innerpage-title-second-wrapper{
	background-color:#efede9;
	height:auto;
}

#zone-innerpage-title-second{
	background-color:none;
}

#region-innerpage-title-second{
	background-color:none;
	height:100px;
}

/*************************Newsletter Signup***********************/

@media all and (min-width: 980px){
#mini-panel-community_newsletter_signup{display:block;}
#mini-panel-community_newsletter_signup_mobi{display:none;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#mini-panel-community_newsletter_signup_mobi{display:block;}
#mini-panel-community_newsletter_signup{display:none;}
}

.newsletter-col-1{
	border-top:1px solid #968870;
	padding-top:20px;
}

.newsletter-col-2{
	border-top:1px solid #968870;
	border-bottom:3px solid #968870;
	padding-top:20px;
	padding-bottom:20px;
}

/*************************Webform*****************************/

#edit-submitted-first-name {
  background-color:#FFF;
	border:1px solid #968870;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
	padding-left:6px;
	height:32px;
}

#edit-submitted-last-name{
	background-color:#FFF;
	border:1px solid #968870;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
	padding-left:6px;
	height:32px;
}

#edit-submitted-organization-company{
	background-color:#FFF;
	border:1px solid #968870;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
	padding-left:6px;
	height:32px;
}

#edit-submitted-email-address{
	background-color:#FFF;
	border:1px solid #968870;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
	padding-left:6px;
	height:32px;
}

input.webform-submit[value="Submit"]{
	width: 132px;
  height: 41px;
  text-indent: -99999px;
  background: url(http://192.185.105.117/~genelab/sites/default/files/btn-send.png) 0 0 no-repeat;
  border: none;
	cursor:pointer;
}

input.webform-submit:hover[value="Submit"]{
	width: 132px;
  height: 41px;
  text-indent: -99999px;
  background: url(http://192.185.105.117/~genelab/sites/default/files/btn-send-hover.png) 0 0 no-repeat;
  border: none;
	cursor:pointer;
}

/*********************************************************************INNERPAGE FIFTH*********************************************************************/

#zone-innerpage-fifth-wrapper{
	background-color:none;
}

#zone-innerpage-fifth{
	background-color:none;
}

#region-innerpage-fifth{
	background-color:none;
}

/***************************************************************Discoveries Teaser***********************************************************/
/********************************************************************************************************************************************/

@media all and (min-width: 980px){
.discoveries-teaser-normal{display:block;}

.discoveries-teaser-mobile{display:none;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
.discoveries-teaser-normal{display:none;}

.discoveries-teaser-mobile{
	display:block;
	height:50em;
	padding-top:20px;
	padding-left:1%;
}
}

.panel-2col .panel-col-first .inside {
	margin: 0 .5em 0em 0;
}

#block-views-9ed68a30340120f1f88a02c3fcc213b1{
	display:none;
}

.articles-teaser-title{
	display:block;
	width:auto;
	height:auto;
	line-height:32px;
}

@media all and (min-width: 1366px){
.articles-teaser-title{
	margin:10% 0% 0% 14%;
	font-size:28px;
}
}

@media all and (min-width: 1024px) and (max-width: 1366px) {
.articles-teaser-title{
	margin:8% 0% 0% 14%;
	font-size:24px;
}
}

.articles-teaser-postdate{
	display:inline-block;
	height:auto;
	padding-left:10px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	border:0;
}

.articles-teaser-author{
	display:inline-block;
	font-size: 13px;
	font-weight:600;
	color:#8e7d60;
	border-right:1px solid #8e7d60;
	margin-left:14%;
}

.articles-teaser-readmore{
	display: block;
	margin-left:14%;
	padding-top:13px;
}

.articles-teaser-readmore a{
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	text-decoration: none;
}

.articles-teaser-readmore a:hover{
	text-decoration:underline;
}

/**********************************************************MOBILE*********************************************************************/

@media all and (min-width: 740px) and (max-width: 980px) {
.articles-teaser-author{margin-left:0%;}
.articles-teaser-readmore{margin-left:0%;}
}

/*.articles-teaser-see-all{
	display: block;
	border-top:1px solid #bdb4a5;
	border-bottom:2px solid;
	border-bottom-color:#bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:40%;
	padding:12px 40px 5px 0px;
	text-align:right;
	position:absolute;
	right:0;
	bottom:1px;
}

.articles-teaser-see-all a {
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}

.articles-teaser-see-all a:hover {
	text-decoration:underline;
}*/

/*@media all and (min-width: 1824px) {
}*/

/*@media all and (min-width: 980px) and (max-width: 1824px) {

.articles-innerpage-teaser-subtitle1{
	display:block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	margin-top:12px;
	margin-left:15px;
}

.articles-innerpage-teaser-title h3{
	display:block;
	font-size:24px;
	margin-top:30px;
	margin-left:15px;
}

.articles-innerpage-teaser-postdate{
	display:inline-block;
	width:auto;
	height:auto;
	float:left;
	margin-left:10px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	border:0;
}

.articles-innerpage-teaser-author{
	display:inline-block;
	width:5%;
	height:auto;
	float:left;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	border-right:1px solid #8e7d60;
	padding-right:20px;
	margin-left:16px;
}

.articles-innerpage-teaser-readmore{
	display: inline-block;
	height:auto;
	float:left;
	margin-top:-3px;
	margin-left:30px;
	padding-top:0px;
}

.articles-innerpage-teaser-readmore a{
	font-size: 12px;
	font-weight: 600;
	color: #8e7d60;
	text-decoration: none;
}

.articles-innerpage-teaser-readmore a:hover{
	text-decoration:underline;
}

.articles-innerpage-teaser-see-all{
	display: block;
	border-top:1px solid #bdb4a5;
	border-bottom:2px solid;
	border-bottom-color:#bdb4a5;
	border-bottom-length:50px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:25px;
	width:30%;
	padding:5px 40px 5px 0px;
	text-align:right;
	position:absolute;
	right:0;
	bottom:1px;
}

.articles-innerpage-teaser-see-all a {
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	padding-top: 5px;
}

.articles-innerpage-teaser-see-all a:hover {
	text-decoration:underline;
}
}*/

.field-name-post-date, field-type-ds{
	padding:10px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	margin:5px 15px 0px 0px;
}

/*********************************************************************Access Data*********************************************************************/

@media all and (min-width: 980px){
#mini-panel-access_data{display:block; width:103%;}
#mini-panel-access_data_mobile{display:none;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#mini-panel-access_data{display:none;}
#mini-panel-access_data_mobile{display:block;}
}

.access-data-title{
	display:block;
	width:auto;
	height:auto;
	line-height:32px;
}

@media all and (min-width: 980px){
.access-data-title{
	margin:10% 0% 0% 14%;
	font-size:28px;
}
}

@media all and (min-width: 740px) and (max-width: 980px) {
.access-data-title{
	margin:5% 0% 20% 0%;
	font-size:24px;
}
}

/*********************************************************************Author Profile*******************************************************************/




/***********************************************************************Overwrite**********************************************************************/

#breadcrumb {
	display:none;
}

#messages {
	background-color: #66FF66;
}

/*#page-title{
	display:none;
}*/

#first-time{
	display:none;
}

