/***********************************************************************SLIDER************************************************************************/

#zone-slider-wrapper{
	background-color:none;
	text-align:right;
}

#zone-slider{
	background-color:none;
	height:auto;
	width:100%;
	/*text-align:right;*/
	
}

#region-slider{
	background-color:none;
	height:auto;
	width:100%;
	margin:0px;
}


