.events-teaser-day{
	margin:-5% 0% -4% 14%;
	font-size:56px;
}

.events-teaser-title{
	font-size:24px;
	line-height:28px;
	margin-left:14%;
}

.events-readmore a{
	font-size: 12px;
}

.articles-teaser-title {
    margin: 0% 0% 0% 14%;
		font-size:24px;
}

.articles-teaser-readmore a{
	font-size: 12px;
}

.see-all-link{
	height:25px;
	padding:6px 40px 3px 0px;
}








