h4{
	font-size:68px;
	color:#FFF;
	letter-spacing:0.05em;
}

.logo-img{display:none;}

/*********************************************************************Global**************************************************************************/

h3, h5, h6, p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1{
	font-size:48px;
	color: #8e7d60;
	letter-spacing:0.05em;
	line-height: 1.2em;
}

h2{}

h3{
	font-size:32px;
	color: #8e7d60;
	margin: 0;
  padding: 0;
}

h5{
	color: #16232f;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.2em;
	text-transform: none;
	padding-bottom:10px;
}

p{
	font-size:14px;
	padding-bottom:1em;
}

p.subtitle1{
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
}

div.subtitle1{
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
}

h2.node-title {
	display:none;
}

#page-title{
	font-weight:normal;
	font-size:24px;
}

img{
	max-width:100%;
	height:auto;
}

.logo-img{display:none;}

table tr {
  background: none;
	margin-bottom:0px;
}

.username{padding-right:15px;}

/*.contact-page-mobile{display:none;}*/

.subtitle{
	display:block;
	text-transform: uppercase;
	text-align:left;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	width:300px;
	height:24px;
	position:relative;
	margin:10px 0px 0px 15px;
	padding-left:0%;
}

input.webform-submit[value="Submit"]{
	width: 132px;
  height: 41px;
  text-indent: -99999px;
  background: url(http://192.185.105.117/~genelab/sites/default/files/btn-send.png) 0 0 no-repeat;
  border: none;
	cursor:pointer;
}

input.webform-submit:hover[value="Submit"]{
	width: 132px;
  height: 41px;
  text-indent: -99999px;
  background: url(http://192.185.105.117/~genelab/sites/default/files/btn-send-hover.png) 0 0 no-repeat;
  border: none;
	cursor:pointer;
}

/**********************************Right Arrow Button*******************************************/

.cta-container {
	display:block;
  height: auto;
  overflow: hidden;
}

.cta-arrow {
    font-size: 13px;
    color: #8e7d60;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 0;
    float: right;
    padding: 0 0 12px 10px;
}

.cta-arrow span {
    display: block;
		color: #8e7d60;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    line-height: 1em;
    transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
    -ms-transition: color .15s linear;
    -o-transition: color .15s linear;
}

.cta-arrow .arrow {
    display: block;
    width: 27px;
    height: 27px;
    background-image: url(http://192.185.105.117/~genelab/sites/default/files/arrow-right-gold-2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 27px 27px;
    float: left;
    margin-top: 7px;
}

#outerImageContainer{background-color:#e5e1db !important; height:340px;}

#imageDataContainer{background-color:#e5e1db !important;}

#bottomNavClose{background-color:#e5e1db !important;}

#modalContainer{height:350px;}

#frameHoverNav{width:10%;}

/*********************************************************************ZONES / REGIONS*******************************************************************/

/*********************************************************************User*************************************************************************/

#zone-user-wrapper{
	height: 60px;
	background-color: #111b24;
}

#zone-user{
	background-color: none;
	width:75%;
}


#region-user-first{
	width:100%;
	background-color: none;
	margin-left:6.3%;
}

/*********************************************************************INNERPAGE SECOND*********************************************************************/

#zone-innerpage-second-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-innerpage-second{
	background-color:none;
	width:75%;
}

#region-innerpage-second{
	background-color:none;
	text-align:left;
}

#block-views-events-upcoming-block{display:none;}

/*********************************************************************INNERPAGE THIRD*********************************************************************/

#zone-innerpage-third-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-innerpage-third{
	background-color:none;
	width:75%;
}


#region-innerpage-third{
	background-color:none;
	text-align:left;
}

#block-views-events-past-block{display:none;}

/***********************************************************************TITLE BARS**********************************************************************/

/********************Title Bar 1**************************/

#zone-titlebar-first-wrapper{
	background-color:#FFF;
}

#zone-titlebar-first{
	background-color:none;
	width:85%;
}

#region-titlebar-first{
	background-color:none;
	width:100%;
	text-align:left;
	padding-top:20px;
	padding-bottom:20px;
}

/********************Title Bar 2**************************/

#zone-titlebar-second-wrapper{
	background-color:#FFF;
}

#zone-titlebar-second{
	background-color:none;
}

#region-titlebar-second{
	background-color:none;
	width:91%;
	text-align:left;
	padding-top:20px;
	padding-bottom:20px;
}

/**************************Title Bar 3*********************************/

#zone-titlebar-third-wrapper{
	background-color:#FFF;
}

#zone-titlebar-third{
	background-color:none;
}

#region-titlebar-third{
	background-color:none;
	width:91%;
	text-align:left;
	padding-top:20px;
	padding-bottom:20px;
}

/********************Title Bar 4**************************/

#zone-titlebar-fourth-wrapper{
	background-color:#FFF;
}

#zone-titlebar-fourth{
	background-color:none;
	width:75%;
}

#region-titlebar-fourth{
	background-color:none;
	width:91%;
	text-align:left;
	padding-top:20px;
	padding-bottom:20px;
}

/***********************************************************************HOMEPAGE************************************************************************/
/*******************************************************************************************************************************************************/


/***********************************************************************SLIDER************************************************************************/

#zone-slider-wrapper{
	background-color:none;
	text-align:right;
}

#zone-slider{
	background-color:none;
	height:auto;
	width:100%;
	/*text-align:right;*/
	
}

#region-slider{
	background-color:none;
	height:auto;
	width:100%;
	margin:0px;
}

/************************************Content Middle 1*****************************************/

#zone-content-middle-first-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-content-middle-first{
	background-color:none;
	width:85%;
}

#region-content-middle-first{
	background-color:none;
	width:100%;
	text-align:left;
}

/*****************************************************SEE ALL LINK*********************************************************/

.see-all-link{
	display: block;
	position:absolute;
	bottom:1px;
	right:0;
	border-top:1px solid #bdb4a5;
	border-bottom:2px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 5%;
	text-align:right;
}

.see-all-link{
	width:auto;
	min-width:91%;
	height:30px;
	padding:13px 50px 8px 0px;
}

.see-all-link a{
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}

/***************************************************************Discoveries Teaser***********************************************************/
/********************************************************************************************************************************************/

.discoveries-block{
	border-bottom:1px solid #8e7d60;
	padding-bottom:20px;
}

@media all and (min-width: 0px) and (max-width: 740px) {
	#block-views-discoveries-block{display:none;}
}

#block-views-discoveries-mobile-block{
	display:block;
	padding-top:20px;
	padding-left:9%;
}	

#block-multiblock-10{width:90%;}

.discoveries-teaser-normal{display:none;}

.discoveries-teaser-mobile{
	display:block;
	height:50em;
	padding-top:20px;
	padding-left:1%;
}

.articles-teaser-title{
	display:block;
	width:auto;
	height:auto;
	line-height:32px;
	margin:8% 0% 0% 0%;
	font-size:24px;
}

.articles-teaser-postdate{
	display:inline-block;
	height:auto;
	padding-left:10px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:600;
	color:#8e7d60;
	border:0;
}

.articles-teaser-author{
	display:inline-block;
	font-size: 13px;
	font-weight:600;
	color:#8e7d60;
	border-right:1px solid #8e7d60;
	margin-left:0%;
}

.articles-teaser-readmore{
	display: block;
	margin-left:0%;
	padding-top:13px;
}

.articles-teaser-readmore a{
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	text-decoration: none;
}

.articles-teaser-readmore a:hover{
	text-decoration:underline;
}

/***************************************************************Events Teaser***********************************************************/
/********************************************************************************************************************************************/

.events-teaser-normal{display:none;}

.events-teaser-mobile{
	display:block;
	height:auto;
	min-height:50em;
	padding-top:20px;
	padding-left:1%;
}

.events-block{
	border-bottom:1px solid #8e7d60;
}

.teaser-year-month{
	display:block;
	width:50%;
	border-top: 1px solid #bdb4a5;
	color:#8e7d60;
	font-size:14px;
	margin-left:2%;
}

.events-teaser-title{
	display:block;
	width:100%;
	height:auto;
}

.events-teaser-day{
	display:block;
	width:auto;
}

.events-teaser-title{
	font-size:24px;
	line-height:28px;
	margin-left:0%;
}

.events-teaser-day{
	margin:1% 0% 0% 2%;
	font-size:56px;
}

.events-readmore{
	display:block;
	width:auto;
	margin-left:2%;
}

.events-readmore a{
	display:block;
	font-size: 14px;
	font-weight:600;
	color:#8e7d60;
	text-decoration:none;
	padding-top:5px;
}

.events-readmore a:hover{
	text-decoration:underline;
}

/********************************************Discoveries/Events Innerpage Teaser**********************************************/

#zone-article-discoveries-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-article-discoveries{
	background-color:none;
	width:75%;
}

#region-article-discoveries{
	background-color:none;
	text-align:left;
}


/*******************************************************************Postscript**************************************************************************/

#zone-postscript-wrapper{
	background-color:#16232f;
}

#zone-postscript{
	background-color:none;
	min-width:100%;
	padding-top:45px;
	padding-bottom:45px;
}

#region-postscript-first{
	display:block;
	height:200px;
	width:98%;
	background-image:url(http://192.185.105.117/~genelab/sites/default/files/ui/nasa-genelab-logo-footer.png);
	background-repeat:no-repeat;
	background-size:124px 208px;
	border-bottom: 2px solid #968870;
	padding-bottom:28px;
	margin-left:1%;
}

#region-postscript-second{
	display:block;
	width:98%;	
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
	margin-left:1%;
}

#region-postscript-third{
	display:block;
	width:98%;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
}

#region-postscript-fourth{
	display:block;
	width:98%;
	background-color:none;
	border-bottom: 1px solid #968870;
	padding-bottom:20px;
}

/****Footer Signup****/

.footer-block .signup-container {
	border-top: none;
	border-bottom: none;
}

.footer-block .text-container {
	width: 100%;
	height: 50px;
	border-top: none;
	position:relative;
	bottom: 0;
	padding-top: 9px;
	float:left;
}

.footer-txt-signup{
	display:block;
	width:40%;
	float:left;
	color:#FFF;
	font-weight:800;
	margin:10px 0px 0px 0px;
}

/*****Sign Up Modal Iwindow****/

/*.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 15px;
}*/

.ui-widget-content {
	border: none;
	background: #f8f7f5;
	color: #000;
}

/****Footer Contributors****/

.footer-block .contributors-container {
	border-top: none;
	height:160px;
}

.footer-block .title {
	color: #e9e9e9;
	font-size: 14px;
	font-weight: 800;
	margin-top: 10px;
	display: block;
}

.footer-block .contributors-container span{
	font-weight: 800;
	display: block;
	color: #a5b4b9;
	font-size: 12px;
}

.footer-block .contributors-container a {
	color: #8e7d60;
	font-size: 12px;
	margin-top: 1px;
	margin-bottom: 50px;
	display: block;
	text-decoration: none;
	transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  -ms-transition: color .15s linear;
  -o-transition: color .15s linear;
}

.footer-block .contributors-container a:hover {
	color: #a79577;
}

/***Footer Explore***/

.footer-block .explore-container {
	border-top: none;
	border-bottom: none;
	height:180px;
}

.footer-block .explore-container a {
	font-size: 12px;
	line-height:-10px;
	color: #a5b4b9;
	text-decoration: none;
	display: block;
	padding: 1px 0;
	transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  -ms-transition: color .15s linear;
  -o-transition: color .15s linear;
}

.footer-block .explore-container a:hover {
	color: #8e7d60;
}

.explore{
	margin-bottom:0px;
	list-style:none;
}

/***********************************************************************User***************************************************************************/

/****Bottom Links***/

#bottom-links-container{
	width:100%;
	float:left;
	padding-top:23px;
}

.legal-container { float:left;}

a.legal-button{
font-size: 12px;
color: #8e7d60;
text-decoration: none;
padding-top: 28px;
padding-left: 16px;
height: 60px;
transition: color .15s linear;
-webkit-transition: color .15s linear;
-moz-transition: color .15s linear;
-ms-transition: color .15s linear;
-o-transition: color .15s linear;
}

a.legal-button:hover{
color: #72818c;
}

.legal-button{height:0px;}


/********************************************************************Innerpage***************************************************************/
/********************************************************************************************************************************************/

/****Discoveries Title Block****/


.discoveries-title-block{
	display:block;
	width:329px;
	border-top: 1px solid #968870;
	margin-top: 20px;
}

.discoveries-title-block h1 {
	margin-top: 8px;
	margin-left: -1px;
	color: #FFF;
	font-size: 24px;
}

.discoveries-title-block span {
	font-size: 13px;
	color: #968870;
	margin: -20px 0 0 0;
	padding: 0;
	display: block;
}

/***Events Title Block***/

.events-title-block{
	display:block;
	width:329px;
	border-top: 1px solid #968870;
	margin-top: 20px;
}


.events-title-block h1 {
	margin-top: 8px;
	margin-left: -1px;
	color: #FFF;
	font-size: 24px;
}

.events-title-block span {
	font-size: 13px;
	color: #968870;
	margin: -20px 0 0 0;
	padding: 0;
	display: block;
}

/*********************************************************************Access Data*********************************************************************/

#mini-panel-access_data_mobile{display:block; width:103%;}

#mini-panel-access_data{display:none;}

.access-data-title{
	display:block;
	width:auto;
	height:auto;
	line-height:32px;
	margin:5% 0% 20% 0%;
	font-size:24px;
}

/*********************************************************************Author Profile*******************************************************************/

.author-bio{
	width:90%;
	padding-bottom:15px;
}

.profile{padding-top:25px;}

.profile-header{
	width:100%;
}

/*********************************************************************INNERPAGE FOURTH*********************************************************************/

#zone-innerpage-fourth-wrapper{
	background-color:#f8f7f5;
	height:auto;
}

#zone-innerpage-fourth{
	background-color:none;
	height:auto;
	padding-top:100px;
	padding-bottom:100px;
}

#region-innerpage-fourth{
	background-color:none;
	height:auto;
	color:#8e7d60;
}

@media all and (min-width: 0px) and (max-width: 980px) {
#mini-panel-community_newsletter_signup_mobi{display:block;}
#mini-panel-community_newsletter_signup{display:none;}
}