@media all and (min-width: 1824px){
#section-content{padding-top:5%;}
}

@media all and (min-width: 1440px) and (max-width: 1824px) {
#section-content{padding-top:6.5%;}
}

@media all and (min-width: 1366px) and (max-width: 1440px) {
#section-content{padding-top:7%;}
}

@media all and (min-width: 1220px) and (max-width: 1366px) {
#section-content{padding-top:7.5%;}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
#section-content{padding-top:8.5%;}
}

@media all and (min-width: 980px) and (max-width: 1024px) {
#section-content{padding-top:9.5%;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#section-content{padding-top:0%;}
}

@media all and (min-width: 980px) {
#section-header {
	display:block;
	background-color:#16232f;
  position: fixed;
  top: -35px;
  left: 0px;
  width: 100%;
	padding-top:35px;
	padding-bottom:20px;
  z-index: 99;
}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#section-header {
	display:block;
	background-color:#16232f;
  position:static;
  top: 0px;
  left: 0px;
  width: 100%;
	padding-top:10px;
	padding-bottom:20px;
  z-index: 99;
}
}