.front {
	width: 100%;
	min-height: 508px;
	max-height: 970px;
	height: 100%;
	background-color: #080b10;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.front .stars-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url(../images/home/header-stars.jpg?333);
	background-position: 0 0;
	background-size: 110% 110%;
	z-index: 0;
}

.desktop .front .stars-container {
	position: fixed;
}

.front .stars-container-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url(../images/home/header-stars-2.png);
	background-position: 0 0;
	background-repeat: repeat;
	z-index: 0;
}

.desktop .front .stars-container-2 {
	position: fixed;
}

.front .col,
.front .bottom-container {
	opacity: 0;
}

.mobile .front {
	min-height: 400px;
}

.front .column-1 {

}

.front .column-2 {
	margin-top: 20px;
	border-top: 3px solid #8e7d60;
	position: relative;
	z-index: 1;
}

.front .column-2 .last-panel {
	position: absolute;
	bottom: 0;
	border-top: 3px solid #8e7d60;
	width: 100%;
	height: 150px;
}

.front .column-2 .down-arrow {
	cursor: pointer;
}

/*.front .column-2 .down-arrow {
	display: inline-block;
	width: 27px;
	height: 27px;
	border-radius: 13px;
	border: 1px solid #6f6657;
	margin: 11px 0 0 3px;
	background-image: url(../images/ui/arrow-down-gold-2x.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 27px 27px;
	cursor: pointer;
}*/

.front .column-3 {
	margin-top: 20px;
	border-top: 6px solid #8e7d60;
	position: relative;
	z-index: 1;
}

.front .column-3 .last-panel {
	border-top: 6px solid #8e7d60;
	position: absolute;
	height: 150px;
	bottom: 0;
}

.front .column-3 .last-panel .text-container {
	height: 100px;
	border-bottom: 1px solid #8e7d60;
	float: left;
}

.front .column-3 .last-panel .email-form-container {
	
}

.front form.signup-form input[type="text"] {
	padding-right: 37px;
}

.front .column-3 .last-panel .text-container p {
	color: #cac3b7;
	font-size: 13px;
	line-height: 1.3em;
	font-family: 'Theinhardt-Regular';
	margin-top: 10px;
}

.front .column-3 .last-panel .text-container span {
	color: #FFF;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Chronicle DeckCond A', 'Chronicle DeckCond B';
	margin-top: 10px;
	display: inline-block;
	float: left;
}

.front .column-3 .subtitle {
	color: #FFF;
	font-size: 15px;
	padding-right: 20px;
	font-weight: 600;
	font-family: 'Chronicle DeckCond A', 'Chronicle DeckCond B';
	height: 220px;
	position: absolute;
	bottom: 150px;
	line-height: 1.4em;
	padding-top: 11px;
	border-top: 1px solid #8e7d60;
}

.front .column-3 p span {
	font-weight: 700;
	font-style: italic;
	color: #8e7d60;
}

.front .header-image-container {
	position: absolute;
	right: 0;
	opacity: 1;
	z-index: 0;
}

.front .header-image-container .header-sequence-image {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
}

/*.front .header-image-container {
	width: auto;
	height: 75%;
	position: absolute;
	right: 0;
	max-height: 750px;
	opacity: 0;
}*/


.front .watch-story-button {
	border-top: 1px solid #8e7d60;
	margin-top: 219px;
	font-size: 17px;
	padding: 12px 0 15px 0px;
	font-weight: 600;
	font-style: normal;
	font-family: 'Chronicle DeckCond A', 'Chronicle DeckCond B';
	cursor: pointer;
	position: relative;
	z-index: 1;
	/* display: none; */
}

.front .watch-story-button .play-icon {
	width: 27px;
	height: 27px;
	background-image: url(../images/ui/story-play-icon@2x.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 27px 27px;
	background-color: #ef3b42;
	border-radius: 14px;
	float: left;
	transition: background-size .15s ease-in-out;
	-webkit-transition: background-size .15s ease-in-out;
	-moz-transition: background-size .15s ease-in-out;
	-ms-transition: background-size .15s ease-in-out;
	-o-transition: background-size .15s ease-in-out;
}

.front .watch-story-button:hover .play-icon {
	background-size: 37px 37px;
}

.front .watch-story-button span {
	display: block;
	float: left;
	margin: 4px 0 0 11px;
	color: #FFF;
	transition: color .2s linear;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
}

.front .watch-story-button:hover span {
	color: #BBB;
}

.front h1 {
	position: absolute;
	bottom: 150px;
	width: 100%;
	height: 220px;
	color: #FFF;
	font-size: 60px;
	line-height: 1em;
	padding-top: 11px;
	font-family: 'Theinhardt-Heavy';
	border-top: 3px solid #8e7d60;
}

.front span {
	color: #8e7d60;
}

.front .bottom-container {
	position: relative;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

.front .bottom-container .col {
	margin-left: 0;
	position: relative;
}

.front .bottom-container .col-container {
	width: auto;
	height: 130px;
	border-top: 6px solid #8e7d60;
	position: absolute;
	bottom: 0;
}

.front .bottom-container .col-container form {
	float: right;
	padding-left: 20px;
	width: 100%;
}

.front .video-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 1;
}

.tablet .front .video-container video {
	height: 100% !important;
}

.front .video-container .controls-container {
	position: absolute;
	bottom: -54px;
	width: 100%;
	height: 54px;
	background-color: #16232f;
}

.front .video-container .close-button {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #7d7464;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	background-image: url(../images/ui/videoplayer-controls-sprite.png);
	background-repeat: no-repeat;
	background-size: 30px 150px;
	background-position: -1px -91px;
}

.front .video-container .controls-container .fullscreen-button {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #7d7464;
	position: absolute;
	top: 12px;
	right: 20px;
	cursor: pointer;
	background-image: url(../images/ui/videoplayer-controls-sprite.png);
	background-repeat: no-repeat;
	background-size: 30px 150px;
	background-position: -1px -61px;
}

.front .video-container .controls-container .fullscreen-button.fullscreen {
	background-position: -1px -121px;
}

.front .video-container .controls-container .play-button {
	width: 30px;
	height: 30px;
	background-color: #7d7464;
	border-radius: 15px;
	position: absolute;
	top: 12px;
	left: 20px;
	cursor: pointer;
	background-image: url(../images/ui/videoplayer-controls-sprite.png);
	background-repeat: no-repeat;
	background-size: 30px 150px;
}

.front .video-container .controls-container .play-button:hover {
	background-color: #8a7e6a;
}

.front .video-container .controls-container .play-button.pause-button {
	background-position: 0 -30px;
}

.front .video-container .controls-container .progress-container {
	width: 700px;
	height: 3px;
	background-color: #585651;
	left: 164px;
	top: 25px;
	position: absolute;
}

.tablet .front .video-container .controls-container .progress-container {
	display: none;
}

.front .video-container .controls-container .progress-bar {
	width: 0;
	height: 100%;
	background-color: #8a7e6a;
}


@media all and (max-height: 645px) {
	.front .watch-story-button {
		margin-top: 83px;
	}
}


@media all and (min-width: 1600px) {
	
	.front .column-3 .subtitle {
		font-size: 17px;
	}

}

/*@media all and (min-width: 1231px) and (max-width: 1599px) {

	.front .header-image,
	.front .cloud {
		height: 68%;
	}

}*/


@media all and (min-width: 1080px) and (max-width: 1230px) {
	.bottom-container .col-container .column-1 {
    	display: none;
    }

/*    .front .header-image,
	.front .cloud {
		height: 60%;
	}*/

	.front .video-container .controls-container .progress-container {
		width: 556px;
	}

	.front .video-container .controls-container .close-button {
		left: 835px;
	}

}

@media all and (max-width: 1079px) {

	.front > .column-1 {
		display: none;
	}

	.bottom-container .col-container .column-1 {
    	display: none;
    }

    /*.front .header-image,
	.front .cloud {
		height: 60%;
	}*/

	.front .video-container .controls-container .progress-container {
		width: 412px;
	}

	.front .video-container .controls-container .close-button {
		left: 691px;
	}

}

@media all and (min-width: 761px) and (max-width: 940px) {
	/*.front .header-image {
		height: 60%;
		right: 0;
		
	}*/

/*	.front .cloud {
		display: none;
	}*/

	.front .watch-story-button {
		margin-top: 83px;
	}
}

/*
	Mobile
*/
@media all and (max-width: 760px) {

	.front {
		max-height: 600px;
	}

	.front .video-container .controls-container .progress-container {
		display: none;
	}

	.front .video-container .controls-container .close-button {
		right: 20px;
		left: initial;
	}

	.front .video-container .controls-container .fullscreen-button {
		right: 20px;
		left: initial;
	}

	.front > .column-1 {
		display: none;
	}

	.bottom-container .col-container .column-1 {
    	display: none;
    }

    .front > .column-2 {
    	width: 100%;
    	margin-left: 0;
    	padding: 0 20px 0;
    	border-top: none;
    }

    .front > .column-3 {
    	width: 100%;
    	margin-left: 0;
    	padding: 0 20px 0;
		float: none;
		border-top: none;
		margin-top: 0;
		position: absolute;
    }

    .front .bottom-container {
    	width: 100%;
    	margin-left: 0;
    	padding: 0 20px 0;
		float: none;
		border-top: none;
		margin-top: 0;
		position: absolute;
		bottom: 25px;
    }

    .front .bottom-container .col-container {
    	border-top: none;
    	height: 35px;
    	width: 100%;
    	padding-right: 40px;
    }

    .front .bottom-container .email-form-container {
    	width: 100%;
    }

    .front .bottom-container .col-container form {
    	padding: 0;
    }

    form.signup-form input[type="text"] {
    	margin: 0;
    }

    form.signup-form input[type="submit"] {
    	top: 4px;
    }

    .front .watch-story-button {
    	margin-top: 10px;
    }

    .front h1 {
    	font-size: 44px;
    	bottom: 175px;
    	height: auto;
    	border-top: none;
    }

    .front .column-2 .last-panel {
    	display: none;
    }

	/*.front .header-image {
		height: 100%;
		right: 0;
		left: 60%;
	}*/

	.front .cloud {
		display: none;
	}

	.front .column-3 .subtitle {
		display: none;
	}

	.front .column-3 .last-panel {
		border: none;
		height: auto;
		bottom: 70px;
		width: 100%;
		padding: 0 40px 0 0;
	}

	.front .column-3 .last-panel .text-container {
		border-top: 1px solid #8E7D60;
		border-bottom: none;
		height: auto;
		padding-top: 6px;
		width: 100%;
	}

	.front .column-3 .last-panel .text-container .col-1 {
		margin: 0;
		float: none;
		width: 100% !important;
	}

	.front .column-3 .last-panel .text-container p.col-1 {
		margin-top: 4px;
		font-size: 11px;
	}
}
/*
@media all and (max-width: 940px) {
	.front .column-1 {
		display: none;
	}

	.bottom-container .col-container .column-1 {
    	display: none;
    }
}*/