/***********************************************************************HOMEPAGE************************************************************************/
/********************************************************************************************************************************************************/

/*****************************************************************Header*************************************************************************/

#zone-header-wrapper{
background: url(http://192.185.105.117/~genelab/sites/default/files/home/header-bg-3.png), url(http://192.185.105.117/~genelab/sites/default/files/header-stars.jpg) ;
	background-repeat:no-repeat, no-repeat;
	background-position:top right, top right;
	background-size:780px, 1700px, cover;
	background-color:#13161c;
	height:auto;
	padding-bottom:200px;
}

#zone-header{
	/*width:82%;*/
	left:25%;
	height:auto;
}

#region-header-first {
	background-color:none;
	height:auto;
	left:7%;
	width:89%;
}
#region-header-second {
	background-color:none;
	left:5%;
}

#node-13{
	min-height:925px;
}

#node-basic-text-5{
	width: auto;
	height: auto;
	position: absolute;
	right: 0;
	top:0;
	max-height: 750px;
}

table{
	border:none;
}

/***Header Panel***/

@media all and (min-width: 1824px) {
#mini-panel-homepage_header{
	height:850px;
	float:left;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#mini-panel-homepage_header{
	height:850px;
	float:left;
	margin-left:130px;
}

#home-header-col-1{

}

#home-header-col-2{

}

#home-header-col-3{

}

#header-col-1{
	display:inline-block;
	margin-top: 20px;
	border-top: 3px solid #8e7d60;
	position: relative;
	width:328px;
	height:800px;
	float:left;
}

#header-col-1-row-1{
	width:100%;
	height:52px;
	border-top: 1px solid #8e7d60;
	position: relative;
  top: 20%;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

#header-col-1-row-2{
	width:100%;
	height:220px;
	border-top: 3px solid #8e7d60;
	position: relative;
  top: 80%;
  -webkit-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
}

#header-col-1-row-3{
	width:100%;
	height:150px;
	border-top: 3px solid #8e7d60;
	position: relative;
  top: 80%;
  -webkit-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
}

#header-col-2{
	display:inline-block;
	margin-top: 20px;
	margin-left:15px;
	border-top: 6px solid #8e7d60;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position: relative;
	width:328px;
	height:800px;
	float:left;
}

#header-col-2-row-1{
	width:100%;
	height:52px;
	background-color:none;
	position: relative;
  top: 20%;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

#header-col-2-row-2{
	width:100%;
	height:220px;
	border-top: 1px solid #8e7d60;
	position: relative;
  top: 80%;
  -webkit-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
}

#header-col-2-row-3{
	width:100%;
	height:150px;
	border-top: 6px solid #8e7d60;
	position: relative;
  top: 80%;
  -webkit-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#header-col-3{
	display:inline-block;
	margin-top: 17px;
	border-top: none;
	position: relative;
	width:328px;
	height:800px;
	float:left;
}

#header-col-3-row-1{
	width:100%;
	height:150px;
	border-top: 6px solid #8e7d60;
	position: relative;
  top: 122.6%;
  -webkit-transform: translateY(-122.6%);
  -ms-transform: translateY(-122.6%);
  transform: translateY(-122.6%);
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

/*Text*/

h1.home-header{
	color: #FFF;
	font-size: 60px;
	line-height: 1em;
	letter-spacing:0.05em;
	padding-top:11px;
}

.home-header span { color: #8e7d60; }

p.home-header { font-size:15px; color: #FFF; line-height: 1.4em; }

/*******************************************************************Content Top First*********************************************************************/

#zone-content-top-first-wrapper {
	background:url(http://192.185.105.117/~genelab/sites/default/files/countdown-block-bg.png) 0 0 repeat-x;
	height:167px;
}

#zone-content-top-first {
	background-color:none;
	/*width:100%;*/
}

#region-content-top-first {
	background-color:none;
	width:89%;
}

/***Countdown Icon Block***/

.countdown-icon-block{
	display:block;
	width:145px;
	height:60px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/icon-rocket@2x.png);
	background-size: 17px 35px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-left:95px;
}

.countdown-icon-txt{
	display:block;
	width:auto;
	height:auto;
	text-align:left;
	float:right;
	padding-top:2px;
}

p.countdown-icon-txt{
	font-weight:bold;
	text-align:left;
}



/***Counter***/

#block-countdown-event-countdown-event{
	position:relative;
	float:right;
	text-align:right;
	margin-top:45px;
	width:60%;
}

.countdownDigitBk {
	display:inline-block;
	font-size:18px;
	color: #fff;
	padding: 0.3em 0.3em 0.3em 0.3em;
	border-radius: 0px;
	top: -2px;
	width:30px;
}

/********************Title Bar First**************************/

#zone-titlebar-first-wrapper{
	background-color:#efede9;
}

#zone-titlebar-first{
	background-color:none;
}

#region-titlebar-first{
	background-color:none;
	height:100px;
}

/********************Content (Content Top Second)**************************/

#zone-content-wrapper{
	height:auto;
	background-color:#e5e1db;
	/*background: linear-gradient(top, #efede9, #efede9 100px, #e5e1db 100px, #e5e1db);
	background: -moz-linear-gradient(top, #efede9, #efede9 100px, #e5e1db 100px, #e5e1db);*/
}

#zone-content{
	background-color:none;
	height:auto;
}

#region-content {
	background-color:none;
	height:auto;
}

#block-nodeblock-20{
	width:100%;
	height:auto;
	position:relative;
	left:-85px;
	padding-top:88px;
}

/***Access Information***/

#block-nodeblock-17{
	width:200px;
	height:auto;
	float:left;
	margin-left:115px;
	margin-top:20px;
}

#block-nodeblock-18{
	width:502px;
	height:auto;
	float:right;
	margin:19px 75px 0px 0px;
	/*padding-top:120px;*/
}

#access-info-col-1{
	height:auto;
}

#access-info-col-1-row-1{
	border-top: 1px solid #bdb4a5;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position: relative;
	width:100%;
}

#access-info-col-2{
	height:auto;
	width:100%;
}

#access-info-col-2-row-1{
	border-top: 3px solid #bdb4a5;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position: relative;
	width:30%;
}

#access-info-col-2-row-2{
	border-bottom: 1px solid #bdb4a5;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position: relative;
	margin-top:20%;
	width:100%;
}

#access-info-col-2-row-3{
	border-bottom: 3px solid #bdb4a5;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position: relative;
	margin-top:1%;
	width:80%;
	float:right
}

#access-data-link-container{
	width:300px;
	height:44px;
	float:right;
	margin-right:6.6%;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
}

.access-data-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:-15px;
	padding:10px 40px 10px 0px;
}

.access-data-link-txt{}

/*Text*/

h2.access-info{
	font-size:38px;
	color:#FFF;
	line-height:42px;
	letter-spacing:0.01em;
	margin-top:90px;
}

p.access-info{
	color: #16232f;
	font-size: 16px;
	font-weight:200;
	line-height: 1.2em;
	text-transform:none;
}
.access-info span { color: #8e7d60; }

@media all and (min-width: 1824px) {
.subtitle-frontpage{
	padding-top:40px;
	padding-bottom:25px;
	position:relative;
	margin-left:-75px;
	margin-top:-17px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
.subtitle-frontpage{
	padding-top:40px;
	padding-bottom:25px;
	position:relative;
	margin-left:100px;
	margin-top:-17px;
}
}

/********************Title Bar Second**************************/

#zone-titlebar-second-wrapper{
	background-color:#efede9;
}

#zone-titlebar-second{
	background-color:none;
}

#region-titlebar-second{
	background-color:none;
	height:100px;
}

/********************Content Middle First**************************/

#zone-content-middle-first-wrapper{
	background-color:#e5e1db;
	padding-bottom:0px;
}

#zone-content-middle-first{
	background-color:none;
	/*height:auto;*/
}

#region-content-middle-first{
	background-color:none;
	/*height:auto;*/
}

/***Article Teaser***/

@media all and (min-width: 1824px) {
#block-views-article-teaser-block{
	position:relative;
	left:-112px;
	top:4px;
	padding-top:0px;
	padding-bottom:0px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#block-views-article-teaser-block{
	position:relative;
	left:25px;
	top:4px;
	padding-top:0px;
	padding-bottom:0px;
}
}

.article-teaser-title{
	display:block;
	font-size:24px;
	margin-top:120px;
	margin-left:117px;
}

.view-article-teaser{height:360px;}

/*Latest Discovery*/
.article-subtitle{
	display:block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	width:300px;
	height:24px;
	margin-left:117px;
}

@media all and (min-width: 1824px) {
#see-all-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:86%;
	padding-top:5px;
	padding-bottom:5px;
	margin:35px 0px 0px 116px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#see-all-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:75%;
	padding-top:5px;
	padding-bottom:5px;
	margin:35px 0px 0px 116px;
}
}

.see-all-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:-18px;
	padding:0px 40px 0px 0px;
}

/********************Title Bar Third**************************/

#zone-titlebar-third-wrapper{
	background-color:#efede9;
}

#zone-titlebar-third{
	background-color:none;
}

#region-titlebar-third{
	background-color:none;
	height:100px;
}

/********************Content Middle Second**************************/

#zone-content-middle-second-wrapper{
	background-color:#e5e1db;
	padding-bottom:0px;
}

#zone-content-middle-second{
	background-color:none;
}

#region-content-middle-second{
	background-color:none;
}

/***Events Teaser***/

@media all and (min-width: 1824px) {
#block-views-events-teaser-block{
	position:relative;
	left:-112px;
	top:4px;
	padding-top:0px;
	padding-bottom:0px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#block-views-events-teaser-block{
	position:relative;
	left:25px;
	top:4px;
	padding-top:0px;
	padding-bottom:0px;
}
}

.view-events-teaser{height:359px;}

/*Next Event*/
#block-nodeblock-47{
	width:300px;
	height:24px;
	position:absolute;
	top:70px;
	left:47%;
	z-index:99;
}

/*Next Event*/
.event-subtitle{
	display:block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	width:300px;
	height:24px;
	margin-left:117px;
}

.teaser-year-month{
	display:block;
	width:50%;
	border-top: 1px solid #bdb4a5;
	color:#8e7d60;
	font-size:14px;
	float:right;
}

.events-teaser-title{
	display:block;
	width:250px;
	height:auto;
	font-size:24px;
	margin-left:292px;

}

.events-teaser-day{
	display:block;
	width:100px;
	margin-bottom:0px;
	margin-left:300px;
}

.events-teaser-day{
	display:block;
	width:100px;
	margin-bottom:0px;
	margin-left:300px;
}

.events-readmore{
	width:100px;
	margin:0px;
	margin-left:92px;
}

.events-readmore a{
	display:block;
	font-size: 14px;
	font-weight:600;
	color:#8e7d60;
	text-decoration:none;
	padding-top:5px;
}

.events-readmore a:hover{
	text-decoration:underline;
}

@media all and (min-width: 1824px) {
#see-all-events-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:86%;
	padding-top:5px;
	padding-bottom:5px;
	margin:25px 0px 0px 116px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
#see-all-events-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:75%;
	padding-top:5px;
	padding-bottom:5px;
	margin:25px 0px 0px 116px;
}
}

.see-all-events-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:-20px;
	padding:0px 40px 0px 0px;
}

/********************Title Bar Fourth**************************/

#zone-titlebar-fourth-wrapper{
	background-color:#efede9;
}

#zone-titlebar-fourth{
	background-color:none;
}

#region-titlebar-fourth{
	background-color:none;
	height:100px;
}

/********************Content Middle Third**************************/

@media all and (min-width: 1824px) and (max-width: 2200px) {
#zone-content-middle-third-wrapper{
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/home/iss-background-desktop.jpg);
	background-repeat: no-repeat;
	background-position-y:bottom;
	background-position-x:38.8%;
	background-color:#081321;
	height:1955px;
	padding-bottom:0px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
	#zone-content-middle-third-wrapper{
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/home/iss-background-desktop.jpg);
	background-repeat: no-repeat;
	background-position-y:bottom;
	background-position-x:120%;
	background-color:#081321;
	height:1955px;
	padding-bottom:0px;
}
}

#zone-content-middle-third{
	background-color:none;
}

#region-content-middle-third{
	background-color:none;
}

/***Columns***/


/***Top***/

@media all and (min-width: 1824px) and (max-width: 2200px) {
#mini-panel-content_middle_third_top{
	width:85%;
	float:left;
	margin:35px 0px 0px 75px;
}
}


@media all and (min-width: 1220px) and (max-width: 1824px) {
#mini-panel-content_middle_third_top{
	width:85%;
	float:left;
	margin:35px 0px 0px 150px;
}
}

#content-middle-third-top-col-1{
	height:300px;
	border-top: 1px solid #8e7d60;
	border-bottom: 1px solid #8e7d60;
	text-align:left;
	padding:10px 0px 10px 0px;
}

#evolution-container{
	margin-top:200px;
}

#content-middle-third-top-col-2{
	height:300px;
}

#content-middle-third-top-col-3{
	height:300px;
	border-bottom: 3px solid #8e7d60;
	padding:10px 0px 10px 0px;
}

/***Center***/

@media all and (min-width: 1824px) and (max-width: 2200px) {
#mini-panel-content_middle_third_center{
	width:85%;
	float:left;
	margin:35px 0px 0px 75px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
#mini-panel-content_middle_third_center{
	width:85%;
	float:left;
	margin:35px 0px 0px 150px;
}
}

#content-middle-third-center-col-1{
	height:418px;
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #8e7d60;
}

.earth-microgravity{
	display:inline-block;
	width:100%;
	border-bottom: 1px solid #8e7d60;
}

#content-middle-third-center-col-2{
	height:418px;
	padding:10px 0px 10px 0px;
	border-top: 1px solid #8e7d60;
	margin-top:25px;
}

#learn-more-container{
	border-top:1px solid #8e7d60;
	border-bottom:3px solid #8e7d60;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:100%;
	float:right;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:234px;
}

.learn-more-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:-18px;
	padding:0px 40px 0px 0px;
}

.phelan-column {
min-height: 1px;
width: 61%;
float: left;
}

.phelan-column2 {
width: 39%;
}

/***Bottom***/

@media all and (min-width: 1824px) and (max-width: 2200px) {
#mini-panel-content_middle_third_bottom{
	width:85%;
	float:left;
	margin:35px 0px 0px 75px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
#mini-panel-content_middle_third_bottom{
	width:85%;
	float:left;
	margin:35px 0px 0px 150px;
}
}

#content-middle-third-bottom-col-1{
	height:300px;
	border-top: 1px solid #8e7d60;
	text-align:left;
	padding:10px 0px 10px 0px;
}

#content-middle-third-bottom-col-2{

}

#content-middle-third-bottom-col-3{
	height:300px;
	border-top: 2px solid #8e7d60;
	text-align:left;
	padding:10px 0px 10px 0px;
}

#intl-space-station-container{
	border-top: 2px solid #8e7d60;
	margin-top:100px;
}