/*******************************************************************ZONES / REGIONS*********************************************************************/
/********************************************************************************************************************************************************/

/***********************Header Zone******************************/

#zone-header-wrapper{
	background: url(http://192.185.105.117/~genelab/sites/default/files/header-bg.jpg);
	background-repeat:no-repeat;
	background-position:top right;
	background-size:cover;
	background-color:#13161c;
	margin-bottom:-6px;
	text-align:right;
}

#zone-header{
	background-color:none;
}

@media all and (min-width: 1824px){
#zone-header{
	width:87%;
	margin-right:0.5%; 
	margin-left:0%; 
	float:right;}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
#zone-header{
	width:87%;
	margin-right:0.8%;
	margin-left:0%; 
	float:right;}
}

@media all and (min-width: 1024px) and (max-width: 1220px) {
#zone-header{
	width:87%;
	margin-right:0.1%;
	margin-left:0%; 
	float:right;}
}

@media all and (min-width: 980px) and (max-width: 1024px) {
#zone-header{
	width:87%;
	margin-right:0.1%;
	margin-left:0%; 
	float:right;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#zone-header{
	width:100%;
	margin-right:0%;
	margin-left:-1%; 
	float:left;}
}

#region-header-first {
	background-color:none;
	text-align:left;
}

@media all and (min-width: 1220px){
#region-header-first {width:100%;}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
#region-header-first {width:99%;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#region-header-first {width:99.9%;}
}

/*****************Content Top 1*********************************/

#zone-content-top-first-wrapper {
	background:url(http://192.185.105.117/~genelab/sites/default/files/countdown-block-bg.png) 0 0 repeat-x;
	height:167px;
}

#zone-content-top-first {
	display:none;
	background-color:#CCC;
	width:87%;
	position:relative;
	top:0;
	left:6.5%;
}

#region-content-top-first {
	background-color:none;
	width:89%;
}

/*****************Content Top 2*********************************/

#zone-content-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-content{
	background-color:none;
	width:70%;
}

#region-content {
	background-color:none;
}

/************************************Content Middle 1*****************************************/

#zone-content-middle-first-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-content-middle-first{
	background-color:none;
	width:75%;
}

@media all and (min-width: 0px) and (max-width: 740px) {
#zone-content-middle-first{width:90%;}
}

#region-content-middle-first{
	background-color:none;
	width:90%;
	text-align:left;
}

@media all and (min-width: 0px) and (max-width: 1366px) {
#region-content-middle-first{width:100%;}
}

/************************Content Middle 2******************************/

#zone-content-middle-second-wrapper{
	background-color:#e5e1db;
	text-align:right;
}

#zone-content-middle-second{
	background-color:none;
}

#region-content-middle-second{
	background-color:none;
	width:90%;
	text-align:left;
}

@media all and (min-width: 740px){
#zone-content-middle-second{width:75%;}
}

@media all and (min-width: 0px) and (max-width: 740px) {
#zone-content-middle-second{width:85%;}
}

@media all and (min-width: 0px) and (max-width: 1366px) {
#region-content-middle-second{width:100%;}
}

/****************************Content Middle 3*******************************/


#zone-content-middle-third-wrapper{
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/home/iss-background-desktop.jpg);
	background-repeat: no-repeat;
	background-position:39% 100%;
	background-size:contain;
	background-color:#081321;
	padding-top:0;
	padding-bottom:50px;
	text-align:right;
}

@media all and (min-width: 980px){
#zone-content-middle-third-wrapper{height:auto;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#zone-content-middle-third-wrapper{height:auto; padding-top:25px; padding-bottom:500px;}
}

#zone-content-middle-third{
	background-color:none;
}

@media all and (min-width: 1220px){
#zone-content-middle-third{
	width:77%;
}
}

@media all and (min-width: 0px) and (max-width: 1220px) {
#zone-content-middle-third{
	width:83%;
}
}

#region-content-middle-third{
	background-color:none;
	width:100%;
	text-align:left;
}


/*****************************************************************Header*************************************************************************/

#region-header-second {
	background-color:none;
	left:5%;
}

#node-13{
	min-height:925px;
}

#node-basic-text-5{
	width: auto;
	height: auto;
	position: absolute;
	right: 0;
	top:0;
	max-height: 750px;
}

table{
	border:none;
}

#page-title{
	display:none;
}

/**********************Video*******************************/

#promo-vid{
	/*position:relative;
	right:0px;*/
	float:left;
	width:100%;
	height:auto;
	z-index:11;
}

#btn-play-video{
	display:block;
	width:150px;
	height:29px;
	position:relative;
	top:200px;
	left:6%;
	z-index:11;
}

.btn-play-video{
	display: block;
	width: 150px;
	height: 29px;
	background: url(http://192.185.105.117/~genelab/sites/default/files/btn-play.png) bottom;
	text-indent: -99999px;
}

.btn-play-video:hover {
	background-position: 0 0;
}

.homepage-video{
	width:100%;
	height:858px;
}

/*******************************************************Header Panel*************************************************************/

@media all and (min-width: 1024px){
#block-panels-mini-homepage-header{
	display:block;
	width:75%;
	height:auto;
	margin-left:6%;
}

#block-panels-mini-homepage-header-mobile{
	display:none;
}
}

/*************Columns**************/

.header-col-1{
	margin-top: 10px;
	border-top: 3px solid #8e7d60;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	width:85%;
	height:auto;
}

.header-col-2{
	margin-top: 10px;
	margin-left:15px;
	border-top: 6px solid #8e7d60;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	width:86.5%;
	height:auto;
}

.header-col-3{
	margin-top: 10px;
	border-top: 1px solid transparent;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	width:86.5%;
	height:auto;
}

/*************Row 1**************/

.header-col-1-row-1{
	height:10px;
	border-top: 1px solid #8e7d60;
	margin-top: 40%;
}

.header-col-2-row-1{
	height:10px;
  margin-top: 0%;
}

.header-col-3-row-1{
	height:10px;
  margin-top: 0%;
}

/*************Row 2**************/

.header-col-1-row-2{
	height:180px;
	border-top: 3px solid #8e7d60;
}

.header-col-2-row-2{
	height:180px;
	padding-top:10px;
	border-top: 1px solid #8e7d60;
}

.header-col-3-row-2{
	min-height:0px;
	padding-top:10px;
	border-top: 1px solid transparent;
}

@media all and (min-width: 1824px){
.header-col-1-row-2{margin-top: 100%;}

.header-col-2-row-2{margin-top: 140%;}

.header-col-3-row-2{margin-top: 138.5%;}
}

@media all and (min-width: 1366px) and (max-width: 1824px) {
.header-col-1-row-2{margin-top: 74%;}

.header-col-2-row-2{margin-top: 114%;}

.header-col-3-row-2{margin-top: 114%;}
}

@media all and (min-width: 1220px) and (max-width: 1366px) {
.header-col-1-row-2{margin-top: 74%;}

.header-col-2-row-2{margin-top: 114%;}

.header-col-3-row-2{margin-top: 114%;}
}

@media all and (min-width: 980px) and (max-width: 1220px) {
.header-col-1-row-2{margin-top: 74%;}

.header-col-2-row-2{margin-top: 114%;}

.header-col-3-row-2{margin-top: 114%;}
}

/*************Row 3**************/

.header-col-1-row-3{
	height:100px;
	border-top: 3px solid #8e7d60;
}

.header-col-2-row-3{
	height:100px;
	border-top: 6px solid #8e7d60;
}

.header-col-3-row-3{
	height:100px;
	border-top: 6px solid #8e7d60;
}

@media all and (min-width: 1824px){
.header-col-1-row-3{margin-top: 21%;}

.header-col-2-row-3{margin-top: 17%;}

.header-col-3-row-3{margin-top:68.5%;}
}

@media all and (min-width: 1366px) and (max-width: 1824px) {
.header-col-1-row-3{margin-top: 5%;}

.header-col-2-row-3{margin-top: 0%;}

.header-col-3-row-3{margin-top:68%;}
}

@media all and (min-width: 1024px) and (max-width: 1366px) {
.header-col-1-row-3{margin-top: 5%;}

.header-col-2-row-3{margin-top: 0%;}

.header-col-3-row-3{margin-top:78%;}
}

/*******************************************************Header Panel Mobile*************************************************************/

@media all and (min-width: 0px) and (max-width: 1024px) {
#block-panels-mini-homepage-header{
	display:none;
}

#block-panels-mini-homepage-header-mobile{
	display:block;
	width:75%;
	height:auto;
	margin-left:5%;
}


/*************Columns**************/

.header-col-1-mob{
	margin-top: 10px;
	border-top: 3px solid #8e7d60;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	width:100%;
	height:auto;
}

.header-col-2-mob{
	margin-top: 10px;
	margin-left:15px;
	border-top: 1px solid #8e7d60;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	width:100%;
	height:auto;
}

.header-col-3-mob{
	margin-top: 10px;
	border-top: 1px solid transparent;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	width:100%;
	height:auto;
}

.header-col-1-row-2-mob{
	height:220px;
	border-top: 1px solid #8e7d60;
}

.header-col-2-row-2-mob{
	height:180px;
	padding-top:10px;
	border-top: 1px solid #8e7d60;
}

.header-col-2-row-3-mob{
	height:50px;
	border-top: 1px solid #8e7d60;
}

.header-col-3-row-3-mob{
	height:150px;
}
}

.home-header-down-arrow {
	display: inline-block;
	width: 100%;
	height: 27px;
	margin: 11px 0 0 3px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-down-gold-2x.png);
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 27px 27px;

}

/*Text*/

h1.home-header{
	color: #FFF;
	line-height: 1em;
	letter-spacing:0.05em;
	padding-top:11px;
}

@media all and (min-width: 1220px){
h1.home-header{
	font-size: 60px;
}
}

/*@media all and (min-width: 0px) and (max-width: 1220px) {
h1.home-header{
	font-size: 52px;
}
}*/

.home-header span { color: #8e7d60; }

p.home-header { font-size:15px; color: #FFF; line-height: 1.4em; }

@media all and (min-width: 1220px){
.header-txt-signup{
	display:inline-block;
	width:40%;
	float:left;
	color:#FFF;
	font-size:14px;
	font-weight:600;
	margin:10px 0px 0px 0px;
}

.header-txt-member{
	display:inline-block;
	width:50%;
	float:right;
	color:#FFF;
	font-size:12px;
	font-weight:normal;
	margin:10px 0px 0px 0px;
}
}

@media all and (min-width: 0px) and (max-width: 1220px) {
.header-txt-signup{
	display:block;
	width:100%;
	float:none;
	color:#FFF;
	font-size:14px;
	font-weight:600;
	margin:10px 0px 0px 0px;
}

.header-txt-member{
	display:block;
	width:100%;
	float:none;
	color:#FFF;
	font-size:12px;
	font-weight:normal;
	margin:10px 0px 0px 0px;
}
}

/*@media all and (min-width: 1220px) and (max-width: 1824px) {}*/

/*********************************************************************WEBFORMS*********************************************************************/

#signup-link-container{
	width: auto;
  height: auto;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 27px 27px;
  border: none;
	cursor:pointer;
	float:left;
	margin-top:23px;
	padding-left:40px;
}

.member-signup-frontpage{
	display:block;
	position:absolute;
	top:900px;
	right:72px;
}

.member-signup-frontpage{
	width: 250px;
  height: 40px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 27px 27px;
  border: none;
	cursor:pointer;
}

/*input.form-tex::-moz-focus-inner /Remove input padding in FF/
{ 
    padding: 0;
}

.webform-client-form-89{
	display:block;
	width:auto;
	margin-top:20px;
}

.webform-container-inline label {
	display: none;
}

#edit-submitted-your-email{
	display:inline-block;
	width:60%;
	background-color:#666;
	color:#FFFFFF;
	float:right;
	margin:20px 17px; 0px 0px;
	border: 2px solid;
	border-color:#bdb4a5;
	border-radius: 15px;
	-moz-border-radius: 20px;
	padding:15px 10px 15px 10px;
	z-index:99;
}

button, input[type="submit"] {
	display:inline-block;
	width: 30px;
  height: 30px;
  text-indent: -99999px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
  border: none;
	cursor:pointer;
	float:right;
	margin-top:23px;
}

button, input:hover[type="submit"] {
	display:inline-block;
	width: 30px;
  height: 30px;
  text-indent: -99999px;
	background:none;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
  border: none;
	cursor:pointer;
}*/




/*******************************************************************Content Top First*********************************************************************/



/***Countdown Icon Block***/

.countdown-icon-block{
	display:block;
	width:145px;
	height:60px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/icon-rocket@2x.png);
	background-size: 17px 35px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-left:95px;
}

.countdown-icon-txt{
	display:block;
	width:auto;
	height:auto;
	text-align:left;
	float:right;
	padding-top:2px;
}

p.countdown-icon-txt{
	font-weight:bold;
	text-align:left;
}



/***Counter***/

#block-countdown-event-countdown-event{
	display:inline-block;
	height:42px;
	float:right;
	text-align:right;
	margin-top:45px;
	width:60%;
}

#clock_holder{
	display:inline-block;
}

.countdownDigitBk {
	display:inline;
	font-size:32px;
	font-weight:bold;
	color: #fff;
	padding: 0.3em 0.3em 0.3em 0.3em;
	border-radius: 0px;
	top: -2px;
	width:30px;
}

/********************Content (Content Top Second)**************************/

#mini-panel-access_data_frontpage{
	margin-left:35px;
}

.panel-2col .panel-col-first {
	/*width: 50%;*/
}

/*@media all and (min-width: 1824px) {
}*/

/*@media all and (min-width: 1366px) and (max-width: 1824px) {
#mini-panel-access_data_frontpage{
	width:80%;
	margin-left:350px;
}

.panel-2col .panel-col-first {
	width: 50%;
}
}

@media all and (min-width: 980px) and (max-width: 1366px) {
#mini-panel-access_data_frontpage{
	width:80%;
	margin-left:285px;
}

.panel-2col .panel-col-first {
	width: 40%;
}
}*/

.access-data-frontpage-left{
	width:75%;
}

.access-data-frontpage-right{}

#access-info-col-1{
	height:auto;
}

#access-info-col-1-row-1{
	border-top: 1px solid #bdb4a5;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position: relative;
	width:100%;
}

#access-info-col-2{
	height:auto;
	width:100%;
}

#access-info-col-2-row-1{
	border-top: 3px solid #bdb4a5;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position: relative;
	width:30%;
}

#access-info-col-2-row-2{
	border-bottom: 1px solid #bdb4a5;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position: relative;
	margin-top:20%;
	width:100%;
}

#access-info-col-2-row-3{
	border-bottom: 3px solid #bdb4a5;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position: relative;
	margin-top:1%;
	width:80%;
	float:right
}

#access-data-link-container{
	width:300px;
	height:44px;
	float:right;
	margin-right:6.6%;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
}

.access-data-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:-15px;
	padding:10px 40px 10px 0px;
}

.access-data-link-txt{}

/*Text*/

h2.access-info{
	font-size:38px;
	color:#FFF;
	line-height:42px;
	letter-spacing:0.01em;
	margin-top:90px;
}

p.access-info{
	color: #16232f;
	font-size: 16px;
	font-weight:200;
	line-height: 1.2em;
	text-transform:none;
}
.access-info span { color: #8e7d60; }

/*@media all and (min-width: 1824px) {
.subtitle-frontpage{
	padding-top:40px;
	padding-bottom:25px;
	position:relative;
	margin-left:-75px;
	margin-top:-17px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
.subtitle-frontpage{
	padding-top:40px;
	padding-bottom:25px;
	position:relative;
	margin-left:100px;
	margin-top:-17px;
}
}*/

/********************************************************************Discoveries Teaser*****************************************************************/

.discoveries-teaser-frontpage{
	display:block;
	position:relative;
	top:0;
	left:-5;
}

.discoveries-teaser-frontpage-mobile{
	display:none;
}

/*@media all and (min-width: 1366px) {
}

@media all and (min-width: 1220px) and (max-width: 1366px) {
#block-views-726db07622ce1d2f9631599837c618bc{
	display:block;
	width:80%;
	position:relative;
	left:190px;
}

#block-views-9f85e7417f5cd3b28aca45b4dcc3d178{
	display:none;
}
}*/



/*.view-article-teaser{height:360px; margin-top:-3px;}*/

/*Latest Discovery*/

.article-subtitle{
	display:block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight:bold;
	color:#8e7d60;
	width:300px;
	height:24px;
	margin:10px 0px 0px 100px;
}

/*#see-all-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:86%;
	padding-top:5px;
	padding-bottom:5px;
	margin:35px 0px 0px 116px;
}*/

/*.see-all-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:0px;
	padding:0px 40px 0px 0px;
}*/

/*.see-all-link{
	display: block;
	border-top:1px solid #bdb4a5;
	border-bottom:2px solid;
	border-bottom-color:#bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:40%;
	padding:12px 40px 0px 0px;
	text-align:right;
	position:absolute;
	right:0;
	bottom:1px;
}

.see-all-link a{
	font-size: 14px;
	font-weight: 600;
	color: #8e7d60;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}*/

/***Events Teaser***/


/*Next Event*/
/*#block-nodeblock-47{
	width:300px;
	height:24px;
	position:absolute;
	top:70px;
	left:47%;
	z-index:99;
}

@media all and (min-width: 1824px) {
#see-all-events-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:86%;
	padding-top:5px;
	padding-bottom:5px;
	margin:25px 0px 0px 116px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
#see-all-events-container{
	border-top:1px solid #bdb4a5;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 27px 27px;
	height:30px;
	width:75%;
	padding-top:5px;
	padding-bottom:5px;
	margin:25px 0px 0px 116px;
}
}

.see-all-events-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	margin-top:0px;
	padding:0px 40px 0px 0px;
}*/

/***Columns***/

.block-content-middle-third{
	width:85%;
	float:right;
	margin-top:35px;
}

.hilite-txt{
	color:#8e7d60;
	font-size:12px;
}

.iss{
	font-size:11px;
	color:#FFF;
}

/***Top***/

.content-middle-third-top-col-1{
	height:auto;
	border-top: 1px solid #8e7d60;
	border-bottom: 1px solid #8e7d60;
	text-align:left;
	padding:10px 0px 10px 0px;
}

#evolution-container{
	margin-top:170px;
}

.content-middle-third-top-col-2{
	height:auto;
}

.content-middle-third-top-col-3{
	height:auto;
	border-bottom: 3px solid #8e7d60;
	padding:0;
}

/***Center***/

#content-middle-third-center-col-1{
	height:418px;
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #8e7d60;
}

.earth-microgravity{
	display:inline-block;
	width:100%;
	border-bottom: 1px solid #8e7d60;
	padding-top:0;
	padding-bottom:0;
}

#content-middle-third-center-col-2{
	height:418px;
	padding:10px 0px 10px 0px;
	border-top: 1px solid #8e7d60;
	margin-top:25px;
}

#learn-more-container{
	border-top:1px solid #8e7d60;
	border-bottom:3px solid #8e7d60;
	height:30px;
	width:33.5%;
	padding-top:5px;
	padding-bottom:15px;
	position:absolute;
	right:0px;
	bottom:38px;
}

.learn-more-link{
	display:block;
	width:120px;
	height:auto;
	text-align:right;
	float:right;
	padding:0px 40px 0px 0px;
}

.phelan-column {
min-height: 1px;
width: 61%;
float: left;
}

.phelan-column2 {
width: 39%;
}

/***Bottom***/

#content-middle-third-bottom-col-1{
	height:300px;
	border-top: 1px solid #8e7d60;
	text-align:left;
	padding:10px 0px 10px 0px;
}

#content-middle-third-bottom-col-2{

}

#content-middle-third-bottom-col-3{
	height:300px;
	border-top: 2px solid #8e7d60;
	text-align:left;
	padding:10px 0px 10px 0px;
}

#intl-space-station-container{
	border-top: 2px solid #8e7d60;
	margin-top:100px;
}

/***Bottom 1***/

.content-mid-third-bot-3-1{
	height:35px;
	border-top: 1px solid #8e7d60;
	text-align:left;
	padding:5px 0px 10px 0px;
}

.content-mid-third-bot-3-2{
	height:auto;
	border-top: 3px solid #8e7d60;
	text-align:left;
	padding:5px 0px 45px 0px;
}

.content-mid-third-bot-3-3{
	height:auto;
	border-bottom: 1px solid #8e7d60;
	text-align:right;
	padding:15px 0px 0px 0px;
}

.content-mid-third-bot-3-4{
	height:auto;
	border-top: 3px solid #8e7d60;
	text-align:left;
	padding:5px 0px 45px 0px;
}

.content-mid-third-bot-3-5{
	height:auto;
	border-bottom: 1px solid #8e7d60;
	text-align:right;
	padding:15px 0px 0px 0px;
}

.content-mid-third-bot-3-6-L{
	display:inline-block;
	width:45%; 
	height:auto;
	float:left;
	margin-top:15px;
}

.content-mid-third-bot-3-6-L1{
	height:auto;
	border-bottom: 1px solid #8e7d60;
	text-align:right;
	padding-bottom:0px;
}

.content-mid-third-bot-3-6-R{
	display:inline-block;
	width:45%; 
	height:auto;
	float:right;
	margin-top:15px;
}

.content-mid-third-bot-3-6-L2{
	height:auto;
	border-bottom: 1px solid #8e7d60;
	text-align:right;
	padding-bottom:0px;
	margin-top:25px;
}

.content-mid-third-bot-3-6-R2{
	height:auto;
	border-bottom: 1px solid #8e7d60;
	text-align:right;
	padding-bottom:0px;
	margin-top:25px;
}

/**********************************************************Mobile**********************************************************/

@media all and (min-width: 980px){
#block-panels-mini-content-middle-third-top{display:block;}
#block-panels-mini-content-middle-third-center{display:block;}
#block-panels-mini-content-middle-third-bottom{display:block;}
#block-panels-mini-content-middle-third-bottom-1{display:block;}
#block-panels-mini-content-middle-third-mobile{display:none;}
}

@media all and (min-width: 0px) and (max-width: 980px) {
#block-panels-mini-content-middle-third-mobile{display:block;}
#block-panels-mini-content-middle-third-top{display:none;}
#block-panels-mini-content-middle-third-center{display:none;}
#block-panels-mini-content-middle-third-bottom{display:none;}
#block-panels-mini-content-middle-third-bottom-1{display:none;}
}

@media all and (min-width: 740px) and (max-width: 980px) {
#evolution-container{
	margin-top:80px;
}

.earth-microgravity{
	display:block;
	width:100%;
	border-bottom: 1px solid #8e7d60;
	padding-top:15px;
	padding-bottom:25px;
}

.content-mid-third-bot-3-2{
	height:auto;
	border-top: 1px solid #8e7d60;
	text-align:left;
	padding:25px 0px 25px 0px;
}


content-middle-third-center-col-2






