/*#section-header {
	background-color:#F8F7F5;
  position: fixed;
  top: -35px;
  left: 0px;
  width: 100%;
	padding-top:35px;
  z-index: 99;
}

#section-content{
	padding-top:65px;
}*/

#zone-content-wrapper{
	background-color:#F8F7F5;
	padding-bottom:35px;
	padding-top:0px;
}

#zone-content{
	background-color:none;
}

@media all and (min-width: 1824px) {
#region-content{
	width:100%;
	background-color:none;
	padding-top:35px;
	margin-left:25px;
}
}

@media all and (min-width: 1220px) and (max-width: 1824px) {
#region-content{
	width:100%;
	background-color:none;
	padding-top:20px;
	margin-left:125px;
}
}

/***********************************************************************Press****************************************************************************/

/*****************Content Blocks**************************/

#block-panels-mini-press-columns-top{
	margin-top:30px;
	width:85%;
	padding-bottom:35px;
}

#block-panels-mini-press-columns-middle{
	padding-bottom:45px;
}

/********************Title*******************************/

.press-title-block{
	display:block;
	width:329px;
	border-top: 1px solid #968870;
	margin-top: 20px;
}

.press-title-block h1 {
	margin-top: 8px;
	margin-left: -1px;
	color: #FFF;
	font-size: 24px;
}

.press-title-block span {
	font-size: 13px;
	color: #968870;
	margin: -20px 0 0 0;
	padding: 0;
	display: block;
}

/******************************************************Press Columns********************************************************************/

/***Column 1 Top***/

.press-column-top-1{
	width:150%;
	float:left;
	height:auto;
	border-top: 1px solid #c7bfb3;
	padding:10px 0px 0px 10px;
}

.press-column-top-1{
	text-transform: uppercase;
	font-size: 11px;
	font-weight:800;
	color:#333;
}

/***Column 2 Top***/

.press-column-top-2{
	width:50%; 
	float:left;
	margin-left:55px;
	height:auto;
	border-top: 1px solid #c7bfb3;
	padding:10px 0px 0px 10px;
}

#node-image-block-100{
	width:130px;
	height:130px;
	margin:5px 0px 0px 15px;
}

.press-lead-info {
	/*font-family: 'Theinhardt-Regular';*/
	display:block;
	font-size: 13px;
	color: #515151;
	padding-top:10px;
	width: 50%;
	line-height: 1.3em;
	margin:15px 0px 0px 15px;
	border-top: 1px solid #c7bfb3;
}

.press-lead-info a{
	color: #968870;
	text-decoration: none;
}

.press-lead-info a:hover{
	text-decoration:underline;
}

/***Column 3 Top***/

.press-column-top-3{
	width:170%;
	float:right;
	height:auto;
	border-top: 1px solid #c7bfb3;
}

/****Subscribe to GeneLab Media****/

#node-webform-101{
	float:right;
	width:50%;
	margin-top:25px;
	margin-right:15px;
}

.webform-component--media-subscribe-name{
	width:25%;
	display:inline-block;
	float:left;
}

input[type="text"]{
	background-color:#fff;
	-webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	border: 1px solid;
	border-color: #c7bfb3;
	color: #000;
  outline: 0;
  padding: 15px 10px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  *padding-top: 2px; /* IE7 */
  *padding-bottom: 1px; /* IE7 */
  *height: auto; /* IE7 */
}

.webform-component--media-subscribe-organization{
	width:25%;
	display:inline-block;
	float:left;
	margin-left:55px;
}

.webform-component--media-subscribe-email{
	width:100%;
	display:block;
	float:right;
	margin-top:15px;
}

button, input[value="Subscribe"] {
	display:inline-block;
	width: 140px;
  height: 35px;
  text-indent: -25px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: 100px center;
	background-size: 27px 27px;
  border: 1px solid #c7bfb3;
	border-radius: 15px;
	cursor:pointer;
	float:right;
	margin-top:10px;
	margin-right:23px;
	color: #968870;
	font-weight:normal;
}

.subscribe-txt{
	width:85%;	
	text-transform: uppercase;
	text-indent:170px;
	font-size: 11px;
	/*font-family: 'Theinhardt-Medium';*/
	float:right;
	display: block;
	margin-top: 10px;
	padding-top: 0;
	margin-bottom: 17px;
	color: rgb(150, 136, 112);
}

/****Column 1 Middle****/

/*#press-column-middle-1{
	width:60%;
	float:left;
	height:300px;
	border-top: 1px solid #c7bfb3;
}*/

.press-column-middle-1{
	width:40%;
	position:relative;
	float:left;
	height:auto;
	border-top: 1px solid #c7bfb3;
	padding:10px 0px 0px 10px;
}

.press-column-middle-1{
	text-transform: uppercase;
	font-size: 11px;
	font-weight:800;
	color:#333;
}

/****Column 2 Middle****/

/*#press-column-middle-2{
	width:25%;
	float:left;
	height:300px;
	border-top: 3px solid #c7bfb3;
}*/

.press-column-middle-2{
	width:96%;
	position:relative;
	float:left;
	margin-left:-150px;
	height:auto;
	border-top: 3px solid #c7bfb3;
	padding:10px 0px 0px 10px;
}

.press-column-middle-2{
	text-transform: uppercase;
	font-size: 11px;
	font-weight:800;
	color:rgb(150, 136, 112);
}

.press-release-link{
	width:99%;
	position:relative;
	left:-10px;
	top:10px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 27px 27px;
	padding:10px 10px;
	border-top: 1px solid #c7bfb3;
}

.press-release-link a{
	text-transform:none;
	font-weight:normal;
	font-size:12px;
	color:#333;
	text-decoration:none;
	padding-left:25px;
}

.press-release-link a:hover{
	text-decoration:underline;
}

/****Column 1 Bottom****/


/****Column 2 Bottom****/

/****Contact GeneLab****/

#webform-client-form-111 {
	z-index:1;
}

.contact-genelab-name .form-text{
	width:300px;
	display:inline-block;
	float:left;
}

.webform-component--contact-genelab-email{
	width:75%;
	display:block;
	float:right;
	margin-top:15px;
}

.webform-component--contact-genelab-phone{
	width:25%;
	display:inline-block;
	float:left;
	margin-left:55px;
}

#edit-submitted-your-message{
	background-color:#fff;
	-webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	border: 1px solid;
	border-color: #c7bfb3;
	color: #000;
  outline: 0;
  padding: 15px 10px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  *padding-top: 2px; /* IE7 */
  *padding-bottom: 1px; /* IE7 */
  *height: auto; /* IE7 */
}

button, input[value="Send"] {
	display:inline-block;
	width: 140px;
  height: 25px;
  text-indent: 40px;
	background-image: url(http://192.185.105.117/~genelab/sites/default/files/ui/arrow-right-gold-2x.png);
	background-repeat: no-repeat;
	background-position: 128px center;
	background-size: 27px 27px;
  border: 1px solid #c7bfb3;
	border-radius: 15px;
	cursor:pointer;
	margin-top:10px;
	color: #968870;
	font-weight:normal;
}

.contact-notes{
	width:48%;
	margin-top:25px;
	text-transform:none;
	font-size: 13px;
	font-weight:300;
	line-height: 1.3em;
	color: #515151;
}

